[2015-10-13 17:07] jessicard opened #17 "Add a column for remote type"
I'd like a column for remote type - whether it's partial, full, etc.

[2015-10-13 17:10] jessicard opened #18 "Add a column for type of work"
It would nice to be able to easily scan and find companies that have jobs that are applicable to your skill sets.

[2015-10-13 17:10] jessicard opened #19 "Add a column for company blurb"
It'd be nice to easily check what the company is all about.

[2015-10-13 17:11] jessicard opened #21 "Add a "verified" column"
We should have a column that mentions if it's verified remote or not

[2015-10-13 17:17] garann opened #24 "Maybe note which are US-only?"
There are a few companies on that list who are remote, but only within the same timezones as the US, or even within the physical United States. If the intent is to create a US-specific list I guess it doesn't matter much, but the use of "remote" to mean "you can work from SF _or_ NYC!" can be a little confusing if you're international. Noting which are US-only would be an awesome addition, if prac

[2015-10-13 18:03] jessicard commented on #24
This is a great idea! We should add a column for this :+1:

[2015-10-13 20:00] whatasunnyday opened #34 "WeWorkRemotely"
WeWorkRemotely is a job board for remote only jobs run by Basecamp.

I noticed that most of the companies that post there were missing from this list.

This issue is to remind myself to add the companies to the list. If this issue has no updates after 24 hours, you can assume I forgot and take over.

https://weworkremotely.com/

[2015-10-13 20:18] jessicard commented on #34
Thanks @whatasunnyday! :sparkles:

[2015-10-13 21:44] jessicard commented on #21
Fixed in https://github.com/jessicard/remote-jobs/pull/36

[2015-10-13 21:44] #21 closed

[2015-10-13 21:44] jessicard commented on #19
I think this would make the table too bulky. Closing for now.

[2015-10-13 21:44] #19 closed

[2015-10-13 21:45] jessicard commented on #18
I think this would make the table possibly too bulky. Closing for now.

[2015-10-13 21:45] #18 closed

[2015-10-13 22:03] mariusavram91 opened #39 "Column for company's HQs?"
Would you consider helpful having their HQs?

[2015-10-13 22:04] jessicard commented on #39
That's a good idea! Or even a column that lists all of the physical offices maybe?

[2015-10-13 22:09] mariusavram91 commented on #39
:thumbsup:

[2015-10-13 22:17] #34 closed

[2015-10-13 22:43] #39 closed

[2015-10-13 22:48] jessicard opened #42 "Add a page for each company"
Maybe instead of trying to stuff so much information in the table, we should link out to an informational page in the repo about the company from the table. It could include details like office locations.

[2015-10-13 22:50] jessicard commented on #17
This maybe should be added to the company page if we do https://github.com/jessicard/remote-jobs/issues/42.

[2015-10-13 23:10] #42 closed

[2015-10-13 23:12] jessicard opened #43 "Clean up companies"
Remove verified and offices column, add region and profile column.

[2015-10-13 23:16] mariusavram91 commented on #43
I like the example, can have more info and it would be easier for contributors as well (single files).

[2015-10-14 00:06] jessicard opened #44 "Create a GitHub Pages site"
This may be easier to find/user if it's on a GitHub pages site. I'd pull this out into an org so that it wouldn't be under my username.

[2015-10-14 05:22] jessicard commented on #43
Fixed in https://github.com/jessicard/remote-jobs/commit/3c4ed6891d7a8e1f603119fec5afdd8b8b9a7a91

[2015-10-14 05:22] #43 closed

[2015-10-14 05:22] jessicard commented on #24
Added a column in https://github.com/jessicard/remote-jobs/commit/3c4ed6891d7a8e1f603119fec5afdd8b8b9a7a91. Added it to the contributing guidelines.

[2015-10-14 05:22] #24 closed

[2015-10-14 05:23] jessicard commented on #17
Fixed in https://github.com/jessicard/remote-jobs/commit/f5574d52878bbefbc8fe2ce637f07295b0767d02

[2015-10-14 05:23] #17 closed

[2015-10-14 06:57] benschwarz opened #54 "Remote vs really remote"
Being from Australia often has advantages and disadvantages, one question that time again stands out while looking for remote work is "how remote?" — Many U.S companies are not comfortable with someone in a different timezone. It'd be great to add some information like:

| Company location(s) | Domestic remote | International remote |
|---------------------------|------------------------|---------

[2015-10-14 07:13] jessicard commented on #54
Good call. Maybe these two columns would be better instead of region on the table? In the company profile, there's a section for "Remote Status" also, which may help: https://github.com/jessicard/remote-jobs/blob/master/company-profiles/example.md#remote-status. What do you think?

[2015-10-14 07:18] benschwarz commented on #54
Hmm. The questions that I like to cover in my own head to become comfortable with a client/company is:

* How experienced at remote are they? What do they have in place to make it work?
* Where are they? (Can I see *me* being able to deal with the timezone(s)?)
* Can I travel while I work with this company? Is that likely to be a problem?
* How often does the company get everyone together in meats

[2015-10-14 09:00] thefoxis commented on #54
+1 on that, there are many companies that say they're remote (e.g. Stripe) but only hire within US. to me that's not really remote, still restricted to a particular region.

I think it would be good to maybe add these questions to the template (just rephrasing what @benschwarz wrote really):

* How long have you been hiring remotely?
* What strategies do you use to make remote work? (ensure inclus

[2015-10-14 15:47] dougaitken opened #65 "How much information is needed to submit a PR"
I noticed that the read has been expanded, and there are submission guidelines. I was going to submit a few companies but some of the information I'm not able to locate, what is needed to submit a PR and how much can be added later?

[2015-10-14 16:11] dougaitken commented on #54
Wishing I could add a Slack style response to this @thefoxis

A lot of that is ringing even more for me recently after I read Zach Holman's [Remote-First vs. Remote-Friendly](http://zachholman.com/posts/remote-first/).

I think with a lot of these different options and needing more clarification, the idea of #Num: #44, and creating a Pages site with ability to filter by different requirements.

[2015-10-14 17:30] jessicard commented on #65
The only requirements are the name and the website. I should add that to the README. However, if I notice other info missing, I'll ask for it in the PR. If you don't have it, just mention that in the PR description, and I'll merge it without bugging you :)

[2015-10-14 17:34] jessicard commented on #65
I added some additional information about this in the README here: https://github.com/jessicard/remote-jobs/commit/007d4b629b100004c36e538767fd5273e00bc371 Thanks!

[2015-10-14 17:34] #65 closed

[2015-10-14 17:35] hkdobrev opened #70 "Submit the list to the Awesome lists"
You can submit this list to the [Awesome collection of Awesome lists](https://github.com/sindresorhus/awesome). The contribution guidelines require at least 2 weeks wait time for the list to mature.

There's also another such list there already - https://github.com/lukasz-madon/awesome-remote-job.

[2015-10-14 17:59] jessicard opened #72 "Pull out contributing guidelines into new page"
Pull out contributing guidelines into new page, link to it from the README

[2015-10-14 18:28] #72 closed

[2015-10-14 18:51] jessicard opened #78 "Add license"

[2015-10-15 10:00] jenkoian opened #82 "Tech stack section"
Can do a PR but wanted to bring it up for discussion first. Think it's worth having a column for tech stack of the company? I know tech stack is sometimes transient but may be helpful for scanning the list (which is only going to grow) if only interested in certain tech.

(Great idea btw :+1:)

[2015-10-15 14:01] hkdobrev commented on #82
@jenkoian That's already included in the [example company profile](https://github.com/jessicard/remote-jobs/blob/master/company-profiles/example.md#company-technologies) and people are already contributing these in the company profiles.

Having tech stack as a column in the table would increase the table width and possible the height of the rows as well. I think this is better left for a [future G

[2015-10-15 14:03] jenkoian commented on #82
ah didn't even notice the company profile thing, cheers.

[2015-10-15 14:03] hkdobrev opened #88 "Use JSON for company profiles"
Similar to [JSON Résumé](http://jsonresume.org/) and [json-job](https://github.com/lukasz-madon/json-job).

If the company profiles are in JSON, various lists and apps could be created on top of it client-side similar to http://emoji.muan.co/ - see source: https://github.com/muan/emojilib/blob/master/emojis.json

[2015-10-15 16:18] tedmiston commented on #88
Great idea.  I've been looking for something like JSON Resume for so long.  Thanks for the share.

[2015-10-15 16:22] tedmiston commented on #54
These are really good points to bring up, especially about timezones.

[2015-10-15 16:32] jessicard commented on #82
Appreciate it! :) Thanks for the feedback.

[2015-10-15 16:32] #82 closed

[2015-10-15 16:33] jessicard commented on #88
:+1: Good call.

[2015-10-15 17:01] zeke commented on #88
:clap:

[2015-10-16 16:36] dougaitken commented on #78
[CCO](http://choosealicense.com/licenses/cc0-1.0/) sounds like it would cover it since it's data we're pulling from other sources and can be used in any way

[2015-10-17 02:34] xyclos opened #104 "descriptions"
It'd be cool to have some kind of short description about what each company is/does.

[2015-10-17 02:34] #104 closed

[2015-10-17 02:36] xyclos commented on #104
I noticed that clicking on the few that are linked takes you to a page which tells more about them.

[2015-10-17 22:51] #78 closed

[2015-10-19 08:42] tfont commented on #54
Most companies will hire within timezones rather than just regions. I would highly recommend a field for 'accepted timezones'.

[2015-10-19 09:41] Mansuro opened #118 "Accessing the company opportunities"
Many of the companies listed don't have a link/item on the menu on their website for the jobs they are offering. I am wondering if such companies belong to the list

[2015-10-19 12:32] pjazdzewski1990 commented on #54
In general I agree with the statements above, but ...
In order to make "Remote-friendly companies" more that just a marketing trick I would suggest encouraging companies from the list to show in what way they are friendly for remotes.

IMO it will be extremely hard to do a one-size-fits-all solution for all companies, but if you could create a place where they could link to sites/blog posts/articl

[2015-10-19 12:38] reinaldob commented on #54
+1 on @pjazdzewski1990

[2015-10-19 12:56] benschwarz commented on #54
As I said in my second comment, they're questions that float around _my_ head when talking to people, but I'm sure there is no one size fits all (within the scope of this repo) for describing how a company conducts itself.

@jessicard I think we have consensus that it _would be great_ to cover the 'span of remoteness' — I think domestic / international is a good start, and perhaps a good indicator

[2015-10-19 13:28] useruby commented on #54
may be assume that all the companies allow a fully remote position and add column where companies can describe restrictions if position is not fully remote

comany name | .... |      restrictions
-----------------------|-----|-------------------------------
  xxx                | .... | US candidates only, Work in the office during first two week

Timezone is usually not the main problem when comp

[2015-10-20 13:16] cmtonkinson commented on #70
Nice find @hkdobrev. https://github.com/lukasz-madon/awesome-remote-job isn't a direct duplicate (it's a list of resources, not jobs), but could be incorporated somehow, and is absolutely related.

[2015-10-20 13:17] hkdobrev commented on #70
@cmtonkinson Yes, it is not a duplicate, it contains both resources and some remote companies.

[2015-10-20 21:05] mastermind1981 commented on #118
+1 . we should make a cleanup and have the link to the openings jobs directly

[2015-10-20 21:06] mastermind1981 commented on #54
+1

[2015-10-22 12:49] dougaitken commented on #118
This should be listed on the company profile under "How to apply", this should list either the vacancy or clear direct how someone can find out about any openings.
If the company doesn't have a profile, then I'm sure they'll be backfilled in soon

[2015-11-06 16:17] webmaven opened #153 "CartoDB doesn't seem to be remote"
No remote positions listed: https://cartodb.com/jobs/

[2015-11-06 16:56] webmaven opened #154 "Coupa does not seem to be remote"
http://www.coupa.com/careers/openings/

[2015-11-07 20:17] dougaitken commented on #153
A quick google shows that positions in the past have allowed remote.

Also, this position is ["based in our Madrid office, although we often work remotely."](https://cartodb.com/jobs/junior-designer/)

[2015-11-07 20:18] dougaitken commented on #154
Like #153 it looks like the jobs allow remote, I'm guessing Coupa have been included as they may have posted on WeWorkRemotely or something

[2015-11-09 22:20] webmaven commented on #153
That basically says to me that employees must come into the office sometimes, but have permission to often work from home (which would still be in Madrid). IOW **not** a remote work job at all.

[2015-11-09 22:24] webmaven commented on #154
@dougaitken:

Can you point me to an example? My google-fu is failing me.

[2015-11-09 22:44] dougaitken commented on #154
This is a dated but it is remote for them http://iisrar.com/jobsremotely/job/programming-and-tech/ruby-on-rails-developer-multiple-openings-at-coupa-software-san-mateo-ca-allows-remote-2/

[2015-11-09 22:46] dougaitken commented on #153
Ah, I think that comes down to the company -i.e. will they fund the trip or is it "required but not subsidised"

[2015-11-09 22:51] webmaven commented on #154
@dougaitken, in my humble opinion, companies should not be represented in this list just because *at some time in the past* they used to hire remote employees (and no longer seem to).

[2015-11-09 23:00] webmaven commented on #153
Well, let's ask the guy that added CartoDB in the first place: @javierarce, I see you are also located in Madrid. Can you comment on what your company means by *'we often work remotely'*?

[2015-11-10 10:35] javierarce commented on #153
Hi! Please, see my answer here to a similar question [here](https://github.com/jessicard/remote-jobs/pull/15#issuecomment-147771498).

While it's true that we don't explicitly announce the possibility to work remotely in our job openings, any employee can work wherever he or she wants.

We currently have several people working 100% remote and also several other people work partially remote (i.e: t

[2015-11-10 10:43] ethervoid commented on #153
I'm a CartoDB employee that works almost completely in remote. I only go to the Madrid office one day per week but is not mandatory, other coworkers works completely in remote.

[2015-11-10 13:14] dougaitken commented on #154
I think this is tricky point - there are a lot of companies in this list who are not hiring right now, so should they be included? This resource is a starting point for companies who support remote working. I think a discussion needs to take place around this, and it fits with #54 - i.e. what is the extent of remote, how often is remote an option, and everything surrounding remote working.

[2015-11-10 13:16] dougaitken commented on #153
So it's basically, if you want to come into the office to hang out, that's cool, otherwise just do your own thing.
Cheer for the clarification again @javierarce, and @ethervoid.

[2015-11-10 18:00] ethervoid commented on #153
You're welcome :)

[2015-11-10 19:10] webmaven commented on #154
Keep in mind that while that discussion is worth having, Coupa [is definitely hiring right now](http://www.coupa.com/careers/openings/).

@jessicard, it looks like Coupa was included by you in the initial batch of companies, can you comment where that original data came from, and/or what criteria you applied when gathering it?: fd17dc3

[2015-11-10 19:11] jessicard commented on #154
Ah, I believe that came from either a tweet or a website provided to me. Mind a PR to remove?

[2015-11-10 19:13] webmaven commented on #153
Thanks @javierarce and @ethervoid, I am closing this issue.

[2015-11-10 19:13] #153 closed

[2015-11-10 20:53] webmaven commented on #154
@jessicard Not at all.

[2015-11-10 21:24] jessicard commented on #154
Fixed in #155/#156!

[2015-11-10 21:24] #154 closed

[2015-11-29 17:10] mastermind1981 opened #163 "Clean up the list"
Hi,

In the current list there is clearly some companies there are not offering remote jobs.

They should be removed from the list.

[2015-11-29 17:11] mastermind1981 opened #164 "Adding another column with direct link to the careers or jobs offering page."
Hi,

Adding a new column which will hold the link to the jobs/careers page directly would make easier the use of the listing.

[2015-11-29 17:13] mastermind1981 opened #165 "Add a column for the type of the jobs"
Adding another column for the type of the jobs offered by the companies. The column will contain values like : IT, Web design, Writing ....

[2015-11-30 21:59] jessicard commented on #163
Do you have a list of ones that should be removed? I'd also happily accept a PR if you were able to make one!

[2015-11-30 22:05] mastermind1981 commented on #163
okay I will do iit

[2015-12-02 16:57] dougaitken commented on #164
Hi @mastermind1981, a direct link to the company's careers / job page is given at the bottom of their company profile :+1:

[2015-12-02 17:04] dougaitken commented on #165
Interesting idea but it would become cluttered in the current layout :-1:

I think this might be something Jessica may have thoughts on but my take is that most of these companies will offer a range of roles.
If there is a move to a website of the information, it could be something filterable. However I think this repository is great as it gives information about the company to allow you to decide

[2015-12-05 23:24] dougaitken opened #174 "Request for angularclass profile"
Hey @gdi2290 Can you add the Angular Class company profile please when you have a minute? Thanks

[2016-01-20 16:06] numbsafari commented on #163
@jessicard - I was about to submit a PR to remove CartoDB (they have no remote jobs on their board, just office jobs in NYC or Spain). Would you prefer one PR per company (so that it's easier for them to respond/comment in the PR) or would you like one large PR with a number of companies (making it more focused for you/mainters)?

Also, I can try to use git-blame to see who originally added the co

[2016-01-20 16:25] dougaitken commented on #163
Hi @numbsafari this has already been discussed with a current CartoDB employee. See #153

If you would like to open a PR to remove the companies which you don't believe are remote and we can discuss from there.

Also, I was the person who committed the company profile for CartoDB :+1:

[2016-02-19 18:19] dougaitken commented on #163
Closing. No PRs submitted and list has changed quite a bit since then

[2016-02-19 18:19] #163 closed

[2016-02-20 20:43] dougaitken commented on #54
I'm closing this issue as I believe this issue is covered with the way the readme lists the region.

I know it doesn't a lot of what @thefoxis suggested but without having an employee of each company detail these, it is difficult to answer.

If your company has remote DNA, please do submit a company-profile, or edit your own with more details under "remote status" (I'm toying with adding a "other

[2016-02-20 20:43] #54 closed

[2016-03-22 09:46] dougaitken commented on #174
Closing due to non-activity.

[2016-03-22 09:46] #174 closed

[2016-03-22 09:46] dougaitken commented on #164
Closing - solved with my comment.

[2016-03-22 09:46] #164 closed

[2016-04-19 20:31] blundell commented on #118
fwiw we don't have direct job openings with specific titles on the website because we are always hiring - if you are a great person with technical skills and learning attitude we'll hire you even when there is no "job title on our website"

[2016-05-02 10:53] dougaitken commented on #118
@blundell Sorry, not sure why I missed this. Do you have anywhere on your website that prospective applicants can find this sort of info?

[2016-05-02 14:18] blundell commented on #118
It's kind of implicit in our website https://www.novoda.com/hiring i.e. we don't have job openings but we tell them to apply!

[2016-05-02 14:21] dougaitken commented on #118
Sorry @blundell, replied to this then saw your PR. Sorted now 👍

[2016-05-02 14:21] #118 closed

[2017-02-17 16:49] tamouse opened #279 "IBM no longer remote-friendly?"
I've been seeing [reports](https://www.theregister.co.uk/2017/02/09/ibm_workfromhome_cull_companywide/?mt=1487279104379) and personally from family and friends who work there, that IBM is pulling in all remote employees and forcing them to work in regional offices.

[2017-02-18 14:43] dougaitken commented on #279
Hey @tamouse, great point! We have only a placeholder for IBM in this repo, so I'll go ahead and get that removed as there hasn't been any participation relating to them here.

[2017-02-18 14:46] dougaitken commented on #279
Resolve in #265

[2017-02-18 14:46] #279 closed

[2017-02-24 16:48] Joel-James commented on #165
+1 for this.

[2017-03-18 19:16] venediktov commented on #165
instead of type of jobs column please add column describing programming stack/system those companies utilize e.g javascript , HTML5 ,  angularJS, node.js , Java, C#, C++ , Unix , MacOS , Linux , etc.

[2017-03-18 20:00] dougaitken commented on #165
Hi @venediktov this isn't entirely developer based so that column type wouldn't mean anything to someone looking for a Customer Support role. Like I was.

These are companies who fall under the "tech" umbrella and who hire remotely. That's it.

[2017-04-02 17:19] EvaCatHerder opened #289 "Add AgileBits"

[2017-04-09 15:49] dougaitken commented on #289
Closed in #292

[2017-04-09 15:49] #289 closed

[2017-04-21 17:27] katiequin335 opened #297 "AgileBits Url"
The url for Agilebits is incorrect, it is currently listed as

when it should be:

[2017-04-25 10:58] dougaitken commented on #297
Thanks @katiequin335, closed in #298

[2017-04-25 10:58] #297 closed

[2017-06-11 20:19] zaharidichev opened #309 "Add Scalac to the list"
[Scalac.io](https://scalac.io/) is a company with a focus on bespoke development utilizing the Lightbend stack. Its fully remote and is a great place to be. Pretty sure, it should be on the list

[2017-06-12 14:19] dougaitken commented on #309
HI @zaharidichev, you can open a Pull Request and full out the needed details, I can then review and add to the list 👍

[2017-06-30 18:20] eddiejaoude commented on #44
Is this still the plan?

To:
- Github pages
- Create an Organisation

[2017-06-30 18:22] eddiejaoude commented on #88
Great list! Is this still part of the plan?

I have converted the `markdown` list of companies to `json` https://github.com/WeRockTech/remote-jobs/commit/bbcdff85099f17af4fb943ba68ef0458ca4b2f5e that way it can be moved to a web app and put on GitHub Pages

[2017-07-01 12:04] eddiejaoude commented on #44
I have quickly put together an Angular app and hosted it on GitHub pages,

- Fork https://github.com/WeRockTech/remote-jobs
- GitHub pages http://werocktech.com/remote-jobs/

It would be good to get the company profile into the main `json` data so that it can be filtered by tech etc

[2017-07-04 17:57] dougaitken commented on #44
I like your idea in #88, this would be really useful, and something I think would really help.

I'd ideally like it to sit on it's own domain, but we can work on that.

[2017-07-05 07:10] eddiejaoude commented on #44
Thanks 👍 .

There are only about ~150 company profiles, if we all did a few it would be done in no time. I will start on a few. But rather than putting them in their own `json` files, it would make searching and filtering better if they were part of the main `json` file.

e.g.

[code]

[2017-07-06 12:20] dougaitken commented on #44
How would you see contributing continuing?
People fork the repo, edit the main json file, then open a PR?

Doing something like this, to add in filtering, would also mean sanitizing a lot of the existing profiles so that things like tech can be filtered well.

From my own view, as a "non-tech" working in support, I was wanting to add something about a company who were hiring for support roles, eve

[2017-07-06 12:43] eddiejaoude commented on #44
Yep, same as now.

Yes, the data would have to be sanitised better, for example timezones etc

Additional (optional) fields can be added to the json file and then displayed in the app accordingly

[2017-07-07 10:14] dougaitken commented on #44
I'm wondering if I start an organisation purely for this, then it comes away from Jessica's account and can be handled on it's own. I'll give some thought over the week, and let you know @eddiejaoude

[2017-07-08 04:54] eddiejaoude commented on #44
ok sounds good 👍 . What are @jessicard thoughts, as its her project?

[2017-07-08 06:09] jessicard commented on #44
@dougaitken Please feel free to pull it to an org! You have been doing a great job maintaining this repo and I super appreciate it. Thanks for checking with me @eddiejaoude :) 👍

[2017-07-11 08:41] dougaitken commented on #44
I was gonna ping you about this Jessica, we'll need to work to putting this in it's own repo, and the name of that. `remote-jobs` is taken (old and hardly used, but still), but we're more focused on the companies, so `remote-co` & `remote-companies` is available.

[2017-07-11 09:14] eddiejaoude commented on #44
I would have the org a bit more general and then have the repo in the org as the same name as not to confuse people, otherwise `remote-jobs/remote-jobs` looks a bit odd and is limiting to what the org can do in the future - just my 2 cents 🤓.

[2017-07-11 13:00] mentos commented on #44
@dougaitken sorry for chiming in, but you may be able to [claim ](http://blog.awolski.com/request-your-github-username/) an inactive GH username by contanting their Support department.

[2017-07-11 13:53] dougaitken commented on #44
Not at all @mentos, the more help the better!
🤔 🤔 🤔  Didn't look into that, but worth a thought.

@eddiejaoude I think I/we are doing one thing and doing it well here - finding companies who hire remotely, and sharing those. Totally see what you're saying, but I'm unsure how we can "branch out".

Open to suggestions!

[2017-07-12 05:42] eddiejaoude commented on #44
Not too sure either at the moment 😄.

Possibly list ideas...

- Companies that are **diverse** and **inclusive** (inc. accessibility)
- Companies that **don't use recruiters** (similar to companies that allow people to work remotely, there are some and they should be promoted). As a contractor it is really annoying when a friend recommends you and you go through all the process of getting the role

[2017-07-12 07:59] glauberramos commented on #165
I think it would be useful the have the type of the company as well, like which industry it belongs, technology, health, etc...

[2017-07-12 11:27] dougaitken commented on #165
I can see the use for this @glauberramos, this repo started as:

I will give it some thought, and look at including this in the ideas in #44

[2017-07-12 11:59] alexanderpersson opened #322 "Tech stack"
Would be nice to have a column of tech stack used in the company

[2017-07-13 10:54] dougaitken commented on #322
Hi there @alexanderpersson, as this is part of the company-profile requirements, I'm sure we could pull that out when we look at the GitHub Pages idea in #44

[2017-07-13 10:54] #322 closed

[2017-09-05 22:07] dougaitken commented on #88
Closing and any discussion can happen in #44 to keep things central.

Will look to getting this done during Hacktoberfest 2017 (if it happens) as I think will be a nice 2-year reminder for how I got into this

[2017-09-05 22:07] #88 closed

[2017-09-05 22:14] dougaitken commented on #44
@eddiejaoude early thoughts - I had a shower thought that I want to put this in its own org and start a site to tie in with Hacktoberfest 2017 (if that is happening).

Plan:

- Think of genius name for new org/website
- Register domain
- Move repo as-is to a new org I create
- Tidy up data as-is (adding company profiles/updating data) and move to new structure in the process
- Plan for new field/a

[2017-09-05 22:15] dougaitken commented on #165
Closing in favour of #44

[2017-09-05 22:15] #165 closed

[2017-09-06 14:22] chovy opened #340 "add an attribute to company linkedin page"
This would be a lot easier using linkedin to find a recruiter at the company than digging through career pages.

[2017-09-06 22:56] dougaitken commented on #340
I can give it some thought.

From my experience, reaching out to recruiters via LinkedIn is often the slowest/spammiest way, and if you can't follow the instructions on careers/jobs page then I'm unsure why it exists.

[2017-09-07 00:00] fool commented on #340
Hmm, I like the simple format that is here already.  If someone submitting a company thinks that the link to a linkedin, or angel list, or glassdoor, or other profile is relevant to the hiring process, they are welcome to put it in the footer.  Adding a field for every website on the planet, or merely the most predatory job-related-social-network on the planet doesn't really buy us anything IMNSHO

[2017-09-07 00:42] dougaitken commented on #44
Part 1 complete:

`https://github.com/remoteintech`

Will get a domain soon

[2017-09-07 20:48] dougaitken commented on #340
WFM ^

[2017-09-07 20:48] #340 closed

[2017-09-09 18:08] farzadkhosrav opened #344 "Add Glassdoor revieews"
Amazing list but the addition of Glassdoor reviews as a column in the company profiles would be even more amazing!

[2017-09-13 13:26] jonassteinberg1 commented on #44
Given that the site is static it is a perfect candidate for hosting via either serverless or S3+CloudFront (easy TLS integration).  I like the domain: remote.work.  If the site becomes more dynamic I'd be happy to help deploy and automate as well.  I'm Jonas btw.  This is by far the best remote list on the entire netz so let me know if there's some grunt work I can help with.

[2017-09-20 13:36] dougaitken commented on #344
Hey, @farzadkhosrav, similar to #340, I don't see this being something in the near future.

If I add Glassdoor, we would end up having an attribute for other review type sites, LinkedIn, etc.

[2017-10-03 00:06] dougaitken commented on #44
🤔 💸 ⌨️

`remoteintech.company`

👍

[2017-10-03 16:41] chrisfromthelc opened #352 "Feature Request: Add link to jobs page."
Adding a link to each company's jobs/careers/work with us-type page would be a fantastic addition to the resource.

[2017-10-04 21:06] dougaitken commented on #352
You mean like is asked for in the [example.md](https://github.com/remoteintech/remote-jobs/blob/master/company-profiles/example.md#how-to-apply) ;)

[2017-10-05 03:15] nylen commented on #44
This repository is maintained by humans, and things will continue that way [for the foreseeable future](https://en.wikipedia.org/wiki/Technological_singularity).  So we should keep the Markdown files basically intact as the "source of truth" of this collection of data, only normalizing their structure and automating its validation.

Here are the general steps that would be needed to turn the `.md`

[2017-10-05 15:34] dougaitken commented on #44
@nylen this is beautiful and exactly what I hoped for.

I was looking around for something as an inspiration to what I have in mind.
I found this previously and like the interaction `http://gifs.joelglovier.com/`

* Single view of company
 * Breakout into linkable own page (like the gifs)
* filterable/searchable as much as possible

[2017-12-02 17:19] RadValentin opened #366 "Feature request: Enforce consistent formatting with remark-lint"
I'm making a suggestion to add [`remark-lint`](https://github.com/wooorm/remark-lint) to this repo.

It should help ensure a consistent formatting across all your `*.md` files as well as helping with broken external links or mistyped internal ones (via [remark-lint-no-dead-urls](https://github.com/davidtheclark/remark-lint-no-dead-urls)).

We could also run it on every PR through Travis, it's very

[2017-12-04 21:58] dougaitken commented on #366
That sounds interesting @RadValentin - something that comes up is that links can change _after_ they have been merged, will this tool look over the repository every so often and check?

[2017-12-04 22:33] RadValentin commented on #366
`remark-lint` only checks for styling issues, it has plugins to check urls too and it displays a status in the console. It runs on node.

To run it periodically a [CI tool](https://en.wikipedia.org/wiki/Continuous_integration) is required. It can be used for all sorts of tasks.
An usual scenario is that when someone opens a PR the CI tool kicks in. It sets up an instance, clones your repo, install

[2017-12-07 14:57] dougaitken opened #367 "Add Modern Tribe"
https://tri.be/careers

[2017-12-07 14:59] dougaitken commented on #366
If it's not too much trouble, then I'd be open to this to see if it does help. Might work if I finally get the list up on GH Pages

[2017-12-07 14:59] dougaitken commented on #352
closing since this is already in place

[2017-12-07 14:59] #352 closed

[2017-12-07 15:06] dougaitken commented on #70
I've open an Issue to discuss this on lukasz-madon/awesome-remote-job/issues/395

[2017-12-07 15:07] dougaitken opened #368 "Add Nugg"
#346

[2017-12-07 15:17] dougaitken opened #369 "Add Abstract"
https://www.goabstract.com/careers/index.html

[2017-12-07 15:19] dougaitken commented on #369
context https://twitter.com/coleylogan/status/937706277303496705

[2017-12-07 18:02] RadValentin commented on #366
Seeing as how this repo might get merged [into another one](https://github.com/lukasz-madon/awesome-remote-job/issues/395#issuecomment-350036303), I'll wait for that to get resolved before starting work on this issue.

[2017-12-07 22:18] dougaitken commented on #366
It won't be getting merged, if anything the two lists will sit side by side. Personally I see each list having a different angle on the same thing 👍 no rush about this anyway, I see it as a "nice to have" rather than needed.

[2017-12-09 14:43] RadValentin commented on #366
@dougaitken I'm going to take a look at this later today, please feel free to assign this issue to me. Will open a PR tomorrow.

[2017-12-17 15:29] #366 closed

[2017-12-23 20:57] linoman-zz opened #380 "is there a mobile.app planned / does remote-job will be extendet to an android-app?"
is there a mobile.app planned / does remote-job will be extendet to an android-app?

love to hear from you

[2017-12-23 21:18] dougaitken commented on #380
Hi @linoman-zz, not on my roadmap. The front end search which is the next make thing will be responsive but no native apps

[2018-01-10 13:43] dougaitken opened #384 "Update package-lock.json"
Yo @nylen you able to grab this and walk me through a how-to for similar?

https://github.com/remoteintech/remote-jobs/blob/3bbfe49a51f7765b07aaf489580f731196e75cf1/package-lock.json

Cheers!

[2018-01-10 19:42] nylen commented on #384
I assume that GitHub is complaining about one of our dependencies or sub-dependencies, but I can't see which one since this feature is limited to repo admins by default:  https://help.github.com/articles/about-security-alerts-for-vulnerable-dependencies/

I usually use this tool to update dependencies:  https://github.com/tjunnone/npm-check-updates

[2018-01-10 23:04] dougaitken commented on #384
Yea, for some reason the comment cut off a line:

"The marked dependency defined in package-lock.json has a known moderate severity security vulnerability in version range < 0.3.9 and should be updated. Review vulnerable dependency"

Hah. I'll try that myself tomorrow or something but I'll probably break it 😂

[2018-01-10 23:49] nylen commented on #384
See #387.  Here's what I did:

[code]

[2018-01-11 20:53] #384 closed

[2018-01-24 18:52] nicoleckohler opened #390 "Add Groove"
https://www.groovehq.com/about#hiring

"We don’t have an office, and our entire team is remote. Do your work from absolutely anywhere with an internet connection."

worldwide, currently hiring devs

[2018-01-25 09:50] dougaitken commented on #390
Oh hai!
I swear Groove was on this already.

[2018-02-28 21:51] johnxie opened #398 "Added Taskasde"
Sorry, accidentally  made two pull requests. https://github.com/remoteintech/remote-jobs/pull/397 and https://github.com/remoteintech/remote-jobs/pull/396

[2018-03-26 10:33] alexrodba opened #403 "Adding MarsBased"
This pull request adheres to the repository's Code of Conduct.

 I am an employee of the company mentioned and confirm all included details are correct
 This PR contains housekeeping only (URL edits, copy changes etc)
 You know your alphabet - company is listed in alphabetical order in the README
 The company directly hires employees. No bootcamps / freelance sites / etc
 The company added hires r

[2018-04-14 07:17] nylen commented on #398
Fixed, and merged both of them in #397.

[2018-04-14 07:17] #398 closed

[2018-04-14 07:30] nylen commented on #44
We're making progress on this!  I've cleaned up the data and built a cool [code](https://github.com/remoteintech/remote-jobs/pull/406) [review](https://github.com/remoteintech/remote-jobs/pull/401) [bot](https://github.com/remoteintech/remote-jobs/pull/397) that helps us keep things organized.

Another thing we should do is make sure that every company has a profile, even if it is minimal.

[2018-04-14 13:00] johnxie commented on #398
thanks

[2018-04-16 10:51] dougaitken commented on #44
Yes. 100%
If a company isn't added, the PR should fail the bot check. If someone wants to suggest a company, we should have an Issue opened, which someone else can then reference and create a PR from

[2018-04-20 17:39] pselle opened #410 "Add IOpipe"
https://www.iopipe.com, distributed team, US based

[2018-04-21 03:02] #410 closed

[2018-05-20 05:33] nylen commented on #44
This repo now has GitHub Pages active, thanks for doing that @dougaitken:  https://remoteintech.github.io/remote-jobs/

I've been playing around with adding basic sorting and filtering that is just based on the content that's already in the main table.  You can see it at https://nylen.github.io/remote-jobs/ and it looks like this:

The library I'm using is [`list.js`](https://github.com/javve/list

[2018-05-25 19:10] nylen commented on #44
For now, we can push the above basic filtering live on GitHub Pages - @dougaitken what do you think?

For later, I've been researching some options, and I think ultimately we should go with [Netlify](https://www.netlify.com/) for the site.  It works a lot like GitHub Pages in that we push changes to GitHub, and they run a script which automatically updates the website.  Unlike GitHub Pages, though

[2018-05-28 08:43] dougaitken commented on #44
Sounds good, I "know" someone on the Netlify team and have seen a lot of positive things about them recently on Twitter so let's do it.

Ship the filtering if you feel it's ready.

Let's use https://github.com/remoteintech/remote-jobs/projects/3 for each section and create a new Issue to base off

[2018-05-28 20:58] nylen opened #420 "Make JavaScript code testable"
The JavaScript code that does some data validation stuff for this repository should have automated tests.  The idea is that it will also serve as the foundation for a static site generator that allows front-end filtering, but it needs to be really solid for all of these different tasks.

Related: #44.

[2018-05-28 21:02] nylen opened #421 "Write a static site generator in JavaScript"
We can expand the existing JavaScript code in this repository to generate a static HTML site.  I think it can be based on a couple of simple templates like `site/pages/index.html` and `site/pages/company-profile.html` that have a place to insert the content generated from each `.md` file.

This site generator should be compatible with Netlify (#422).

Pre-requisite: #420 (heh).

Related: #44.

[2018-05-28 21:06] nylen opened #422 "Hook up this repository to Netlify"
I've reserved https://remote-jobs.netlify.com/ (but it's not doing anything until we finish #421).

Let's hook this subdomain up to this repository in Netlify so that it automatically updates with each change here.

@dougaitken - it looks like I need your help with this as the owner of the `remoteintech` organization.  I will reach out separately and get a good email address to use for this.

[2018-05-28 21:13] nylen opened #423 "Match the domain and style of the list site and the blog"
Currently we have https://remoteintech.github.io/remote-jobs/ and https://remoteintech.company/.  After #420, #421, and #422 are done, we should make these two pieces look and feel the same, with unified navigation, theme, etc.

[2018-05-28 21:18] nylen commented on #44
Now that we have a basic GitHub Pages site (https://remoteintech.github.io/remote-jobs/), this issue is technically done.  So I'll close this out, but for anyone interested in contributing, there is lots more to do in separate issues in the ["front end search" project](https://github.com/remoteintech/remote-jobs/projects/3).  There are also lots of good ideas for other enhancements in the comments

[2018-05-28 21:18] #44 closed

[2018-06-07 17:06] nylen commented on #422
Done :tada:

[2018-06-07 23:43] nylen commented on #422
I guess I'll reopen this, since currently every PR has a failing status check for Netlify:

![2018-06-07t18 43 23-0500](https://user-images.githubusercontent.com/227022/41131733-ac36bfea-6a82-11e8-8d41-dc48dde20c29.png)

Can probably patch that fairly easily.

[2018-06-09 07:35] #422 closed

[2018-06-09 07:39] nylen commented on #422
All set, PRs are passing again and here's what the Netlify URL looks like now:

[2018-06-23 04:50] #420 closed

[2018-06-23 04:53] nylen opened #440 "Validate whether profiles marked as incomplete are actually incomplete"
In the main readme and in individual company profiles, we use :warning: to indicate that a company profile is incomplete.  Incomplete profiles also only have a single section ("Company blurb").

There are three things we can check automatically here (warning icon in readme, warning icon in profile, and only one section in profile).  We should make sure these indicators all match and have the valid

[2018-06-23 19:03] nylen commented on #440
There is / was also some weirdness with the encoding of these emojis (see https://github.com/remoteintech/remote-jobs/pull/442).

Before that PR, they were encoded like `e2 9a a0 ef b8 8f ef b8 8f`.  Now they are `e2 9a a0` which is simpler / more correct.

The extra https://codepoints.net/U+FE0F?lang=en characters probably break some company name checks / validation since they are invisible but n

[2018-07-03 19:09] edelstone commented on #423
I think you should just use Jekyll for both the list page and the blog, combine the two, and use `https://remoteintech.company` as your custom URL. This would allow you to retire `https://remoteintech.github.io/remote-jobs` for the most part.

You can then link back to the GitHub project (via a top corner ribbon link, for example) for people that are interested in contributing, but other than that

[2018-07-04 04:36] nylen commented on #423
Hi @edelstone,

To clarify this issue a bit, we currently have remoteintech.company and the GitHub pages URL.

I would have no problem with putting everything under remoteintech.company, but everything to do with this domain so far has been done by @dougaitken. Right now this part is hosted with WordPress.com, which has some niceties like an easy donation link, but doesn't really allow for much cu

[2018-07-04 15:11] edelstone commented on #423
Totally, that's basically what I had in mind for the URLs. As far as the filtering objectives, I didn't know about those, but it makes sense. Thanks for the response.

[2018-07-04 15:20] nylen commented on #423
Happy to have some help with the site generation (#421). Right now there is a script that puts a placeholder page up on Netlify. I've been planning to expand on that, probably just something simple with a couple of templates that get filled in with our data, but I don't have a preference there.

Here is how to get at the data: https://github.com/remoteintech/remote-jobs/issues/88#issuecomment-3998

[2018-07-04 17:40] edelstone commented on #423
I actually don't think I'm qualified for that :(

But I will follow along.

[2018-08-12 01:41] #421 closed

[2018-08-12 01:41] #423 closed

[2018-08-12 01:45] nylen opened #461 "Add favicon"
https://blog.remoteintech.company/ has a favicon; https://remoteintech.company/ does not.

[2018-08-12 01:46] nylen opened #462 "Add a filter for "needs more info""
(to the table at https://remoteintech.company/)

This should allow displaying companies that have profiles which are "complete" (not marked with :warning:) or "incomplete" (marked with :warning:).

[2018-08-12 02:12] nylen opened #463 "Add a filter for company size"
(to the table at https://remoteintech.company/)

It would be nice to be able to filter companies based on size, probably using some pre-determined ranges.  We should also be able to look at companies that don't have a known size.

The data for company size will need further cleanup and automated validation before this is possible.

[2018-08-12 02:13] nylen opened #464 "Add filters for company technologies"
(to the table at https://remoteintech.company/)

It would be nice to be able to filter companies based on the technologies they use, probably using a list sorted by frequency.  We should also be able to look at companies that don't have a cleanly defined list of technologies.

The data for company technologies will need significant cleanup and automated validation before this is possible.

[2018-08-12 02:19] nylen opened #465 "Improve mobile styles"
This is what the site's main page looks like on my phone right now:

<img src="https://user-images.githubusercontent.com/227022/43997821-156fe732-9dac-11e8-99ce-39ac7bae403f.png" width="535">

[2018-08-12 02:46] nylen commented on #423
@edelstone fyi - I got this working today.  It ended up being a pretty big PR (#460).  If you are curious about how it works, there is an outline [here](https://github.com/remoteintech/remote-jobs/tree/master/site), and feel free to ask any questions about specific parts on the PR.

[2018-08-12 02:56] nylen commented on #380
Closing this one... there are still some improvements to be made for small screens (#465), but https://remoteintech.company is mostly mobile-friendly and this should be all we need here.

[2018-08-12 02:56] #380 closed

[2018-08-13 04:12] #465 closed

[2018-08-13 17:58] wttw opened #469 "False listing for wordtothewise"
Please remove all mention of wordtothewise from your list.

[2018-08-15 04:06] wttw commented on #469
Thanks.

No objection to what you're doing in general, but Indian outsourcing spammers are using your list to generate email addresses to send spam to and not being on your list is the most effective way to avoid that B2B spam.

[2018-08-15 04:07] nylen commented on #469
That is unfortunate.  How did you find out that this list is the source of the emails?

[2018-08-15 04:08] #469 closed

[2018-08-15 04:12] wttw commented on #469
One of the spammers told me:

The pattern of traffic I've seen recently suggests that this is a broader problem than just a single Indian spammer. (We're an email / anti-abuse company so we track this sort of thing a bit more than most places would).

[2018-09-20 13:04] dougaitken commented on #463
This was brought up in #474.

Unless you see an easier way of keeping the details up to date _and_ having agreed sizings, I don't think this is viable.

Closing for now as a `future-maybe` but leaning towards `wontfix`

[2018-09-20 13:04] #463 closed

[2018-09-21 01:34] nylen commented on #463
I was thinking we would use ranges based on the data that's already there. But I agree this would be really hard to do well.

[2018-09-26 10:40] MasumCS opened #475 "Please add RealtimeCRM"
A fully remote team without an office. For reference blog post on transition to fully remote team:
https://realtimecrm.co.uk/posts/how-we-became-a-remote-team

Thank you.

[2018-10-01 05:05] nylen commented on #475
Hi @MasumCS, we'd be happy to add this, but we need someone to fill out the template for a company profile (ideally as a pull request) first.  See our [contributing guide](https://github.com/remoteintech/remote-jobs/blob/master/CONTRIBUTING.md) for more info.

[2018-10-09 10:43] dougaitken commented on #475
Closing, added in #476

[2018-10-09 10:43] #475 closed

[2018-10-16 03:38] nylen opened #482 "Add technical overview/contributing document"
It would be a good idea to have a contributing document for developers, since there is a non-trivial amount of code here now, and our main contributing document is oriented towards people who are adding or updating info for their company.

This blog post should be a good start, but it would need to be reformatted a bit:

https://blog.remoteintech.company/2018/09/19/website-updates/

It would also

[2018-10-16 03:47] nylen commented on #482
There is also already `site/README.md` which I totally forgot about. Probably needs to be linked from more places.

[2018-10-16 03:49] nylen commented on #344
This would be cool, but anything we do here should be totally automated when the site is built. I'm not sure if Glassdoor has an API, but we definitely don't want to maintain this by hand.

[2018-10-16 16:05] dougaitken commented on #344
Looks like they do so it's a possibility - https://www.glassdoor.com/developer/index.htm

[2018-10-16 16:12] dougaitken opened #485 "Normalise regions"
To allow for better matching and locations, we need to have predefined options for "region".

For example. For global reach, the default should be `Worldwide`. I made the first major change of this in #175

As mentioned in #480, we don't have a defined option for United States / US / USA.

I mainly use `US` but I'm open to discussing from Americans about what they'd use most often.

If a company i

[2018-10-17 11:33] jacob2964 opened #488 "Dramafever has shut down and needs to be removed"
Dramafever.com has a notice on their website that they shutdown on October 16. I tried to make a pull request to remove them from the list but am getting a 403 for some reason when I try to push.

[2018-10-18 14:34] Nirvikalpa108 commented on #485
Hi @dougaitken and @nylen, thanks for starting this conversation which is really worthwhile.

1) I agree that USA sounds good.

2) Do you think we could use the following convention for the region field?
1 country = country
2+ countries in the same region = region
2+ regions = worldwide

So, for example, if the company has employees in 1 country, eg the UK, then we put UK in the region field. If t

[2018-10-19 00:49] nylen commented on #485
I quite like this. Let me know what you think?

[2018-10-19 00:55] nylen commented on #485
Wow, sorry about the mis-clicks there.

I like it, except I think we should split out "Latin America" and "Caribbean" because together that is very long.

Let's simplify a bit further.

Region can be 1 country (USA), 1 region, or a list of multiple regions, or Worldwide.

If there are, let's say, 3 or more regions, then we'll keep the original list in the data here, but collapse this down to `Mult

[2018-10-19 01:16] Nirvikalpa108 commented on #485
Sounds good @nylen. Sorry if this is a really stupid question, but what's the difference between the main page and the readme that you've noted?
So, we're removing the Region column from the readme, but it's still on the main page and company profile?
Thanks 👍

[2018-10-19 01:30] nylen commented on #485
The difference is that we can make any page of the site say whatever we want, as long as the data comes from _somewhere_. For now it mostly matches the format of the input files (main readme and company profiles), but it doesn't have to.

The site is automatically generated by code that parses the data out of the readme and the company profiles, and then reconstructs it in the format we want for t

[2018-10-19 01:47] Nirvikalpa108 opened #499 "AngularClass company change to Tipe.io?"
Hey, AngularClass is currently on the READMe, but the company seems to have completely changed as the website listed on READMe takes you to https://tipe.io/. They seem to be in beta, so maybe the company has pivoted? Either way there's not much info on the Tipe site to create a profile. Worth deleting AngularClass for now? What do you think?

[2018-10-19 01:51] Nirvikalpa108 commented on #485
Nice nice, I understand now thank you! :smiley:

[2018-10-21 03:37] nylen commented on #499
Good catch, and thanks for helping us keep the list up to date!

AngularClass already has a profile that just says "We don't have much information about this company".  Let's leave it this way but rename it to Tipe.io.

[2018-10-21 03:39] nylen commented on #488
@jacob2964 you probably tried to push directly to this repo - instead you'll need to **Fork** this repo to your own username, push to your own fork, then come back here and make the pull request using what you pushed to your fork.

In any case thanks for letting us know!

[2018-10-21 03:46] nylen commented on #485
- Add some validation code (optional for now) to show a list of the companies that have a Region field that doesn't match the format above, or that have a different region between the readme and the company profile.  It's going to be a lot of errors and we'll need to fix them a few at a time.
- Fix the region field in all the company profiles.  For now we'll probably want to leave the region field

[2018-10-22 20:03] Nirvikalpa108 commented on #499
Nice one, sounds good.

[2018-10-22 20:46] Nirvikalpa108 commented on #485
Hi @nylen
This looks good to me!

- Regarding the "extra" text in the Region field, do you think it's worth adding this to the "Remote Status" section of the company profile? I'm inclined to keep the text and just put it somewhere else in the profile rather than deleting, as some of it is quite useful.
- Also, do you think one of the items to add to your list is to change the Contributing Template

[2018-10-22 20:48] #499 closed

[2018-10-24 05:44] nylen commented on #485
Yes to both of those questions (move the extra text to the "Remote Status" field, and indicate the new rules for regions in our template files).

[2018-10-26 01:10] nylen commented on #485
Sounds good. I'm thinking having the validation code in place, but leaving it as optional, would be useful in order to be able to generate a list of remaining issues whenever we want it. Are you able to run the existing validation code on your computer?

Definitely don't let that keep you from getting started though!

[2018-10-26 08:30] dougaitken commented on #485
For context @Nirvikalpa108 - the readme list was the main list previously, James did the work to make it fancy and live on the website so we can move things away from that main list.

Ideally, everything lives in the company profile, we can then use that data if needed.

Thanks for your thoughts on this Amina!

[2018-10-30 06:33] Nirvikalpa108 commented on #485
Sounds great @nylen. I should be able to run the validation code. If I have any problems, I'll let you know, thank you 😃
Thank you so much for giving me this context @dougaitken, you're a star! I really appreciate it! 😊

[2018-10-30 11:49] #488 closed

[2018-10-30 13:08] Nirvikalpa108 commented on #485
Hey guys, so here is a draft of the language I propose to put in the [Contributing Guidelines](remote-jobs/CONTRIBUTING.md) and the [Company Profiles - example.md](remote-jobs/company-profiles/example.md) pages so that contributors know what to put in the region field. If it's rubbish, no worries at all, it's just a first draft! I appreciate all your feedback! :smiley:

**[Contributing Guidelines]

[2018-10-30 13:08] Nirvikalpa108 commented on #485
Hey guys, so here is a draft of the language I propose to put in the [Contributing Guidelines](remote-jobs/CONTRIBUTING.md) and the [Company Profiles - example.md](remote-jobs/company-profiles/example.md) pages so that contributors know what to put in the region field. If it's rubbish, no worries at all, it's just a first draft! I appreciate all your feedback! :smiley:

**[Contributing Guidelines]

[2018-10-30 22:31] nylen commented on #485
I don't think we should include the full details about this in the contributing guidelines.  We can link to them from there instead.  Also, our end goal here is that the automated check for the Region field is enabled and required, so let's make it required.

So, we could change the contributing guidelines from this:

to this:

---

Don't forget the [pull request template](https://github.com/remot

[2018-10-30 22:57] Nirvikalpa108 commented on #485
Thanks @nylen, this looks great to me! Happy to go ahead and make the PRs for this. Just want to check if @dougaitken has any changes? Thanks! 😃

[2018-10-31 12:32] dougaitken commented on #485
Let's do this @Nirvikalpa108! We can tweak on the PR if needed

[2018-10-31 14:16] Nirvikalpa108 commented on #485
Great, thanks @dougaitken. PR submitted 😃 let me know if I've done anything wrong! Thanks!

[2018-11-14 04:00] nylen commented on #485
#512 is an example of a PR where the region, as defined in our list above, is "Worldwide", but there is a bit of extra information:

In this case the extra text is in the "Remote status" section of the company profile.

I'm still happy with this approach, just pointing to a concrete example of what we discussed [above](https://github.com/remoteintech/remote-jobs/issues/485#issuecomment-431978970)

[2018-11-14 13:04] Nirvikalpa108 commented on #485
Great 👍

[2018-12-19 15:41] roquimvanessa opened #517 "Native Mobile Developer (Redux)"
Hi all!

Have you had been working as a Native Mobile Developer (Android and iOs) at least 4 years?

If you have experience with these technologies below and had participated in projects that your consider a success case using...

Angular with Redux - ngRx

Ionic

Firebase

Swift, Objective-c, Koitlin

Are you looking for balance between your professional career and your personal life, working 100

[2018-12-27 11:30] marinehb opened #518 "Add Scopic Software"
[Scopic Software](https://scopicsoftware.com/)

_Company blurb_
Custom solutions for virtually everything. The world’s largest virtual company. We create custom solutions for virtually everything! Our passion is developing visually engaging and interactive solutions, custom made to enhance your business. Over a decade of service and 1000+ projects, developing digital products and user-centric soft

[2019-01-08 01:43] nylen commented on #518
@marinehb (or anyone else reading this): the new profile for Scopic Software needs to be converted into a [pull request](https://help.github.com/articles/about-pull-requests/).

Here's an [example](https://github.com/remoteintech/remote-jobs/pull/520) of what these changes look like, and the end result should be formatted like our [example profile](https://github.com/remoteintech/remote-jobs/blob/

[2019-01-15 09:40] dougaitken commented on #485
Hmm, that is a good point @nylen. I wonder if we could look at linking to the regions section of the profile and either using a plain link text or pulling in the data for the company.

Or maybe "specific countries"? if it isn't an obvious region match? 🤔

[2019-01-23 05:34] chovy opened #523 "standardize on US vs. USA"
I'm trying to use the filter on the site, but some comapnies say "US" and others say "USA"

Can we just make them all use "USA" so its easier to filter on?

[2019-01-23 17:33] zevaverbach opened #525 "make all links open in a new tab"
Would you accept a pull request implementing this?  I'd also add <a href="https://icons8.com/icons/set/external%20link" target="_blank">an icon</a> to each link indicating this functionality.

[2019-01-24 07:31] dougaitken commented on #523
Hey @chovy this is part of #485 which will hopefully help clear up a lot of confusion but updating `US` > `USA` would be a quick fix.

And Thank you! for using the site. Did you find it useful, how did you find the site? What are your thoughts, I'd love to know!

[2019-01-24 14:00] zevaverbach commented on #525
Exactly, `target="_blank"` on every link.

Benefits:

I guess it's just an expectation I have as a user that any link to an
external site will open in a separate tab.

Also, consider the scenario of someone wanting to peruse the sites of a
number of prospective employers -- probably the most common scenario for
users of the site: Will they want to click on a link, look at the
employer's site, then

[2019-01-24 17:09] chovy commented on #523
Yes, I am looking to contact remote employers as a recruiter.

[2019-01-26 04:20] nylen commented on #525
A lot of people would say "absolutely not" to this.  I think the basic argument is that opening links in a new tab removes choice from users, who generally already know how to open links in new tabs if they want to do this.  Doug, you can ask the folks working on WP core / Gutenberg if you want to know more.

I don't have that strong of an opinion, other than that if we do this:

1. `target="_blan

[2019-01-26 14:43] edelstone commented on #525
FWIW, my philosophy on `target=_blank` is to only use it if the user would lose work, or media they've initiated is currently playing.

The other typical reasons for this seem to be mostly a wash; some users would expect the behavior and some wouldn't; some want the back button, some want multiple tabs. Users that like multiple tabs at least have other options to achieve that. Additionally, multip

[2019-01-27 03:57] nylen commented on #525
This is definitely helpful context for this issue.  Especially since I wrote these links that way and then forgot about it.  There are 3 kinds of links that already have `target=_blank` (with the appropriate `rel` attributes, but without icons or other distinguishing styles):

https://github.com/remoteintech/remote-jobs/blob/19d89c09b5f7b168a47b7f7ef40ef2746dfcd21a/site/templates/base.html#L122-L1

[2019-01-28 09:53] dougaitken commented on #525
Thanks, @nylen @edelstone - agreeing with you two on this one.

If we can find a code solution for showing that a link directs to an external site then we should go for that.

[2019-01-30 14:24] dougaitken opened #526 "Cookies / Privacy policy"
I've deliberately left any tracking or "stats" stats off the site. I don't need to know how people are using the list. It's fairly simple, analytics wouldn't add anything to this.

@nylen can you confirm if we have anything via Netlify which adds analytics?

If not, I'd like to add a simple page which says "we don't track you, yo. that's why we don't have a Cookies banner"

[2019-01-31 05:15] nylen commented on #526
The list area of the site uses no cookies or analytics:

![2019-01-31t00 08 40-05 00](https://user-images.githubusercontent.com/227022/52031878-9a3bc180-24ec-11e9-88d4-6405c3340aac.png)

---

The page at https://blog.remoteintech.company/ does store some cookies:

![2019-01-31t00 11 40-05 00](https://user-images.githubusercontent.com/227022/52031940-d707b880-24ec-11e9-90a1-9deb3d2ebbc1.png)

---

[2019-02-09 22:11] gugaalves opened #528 "Broken links"
I've tested broken links using a Google spreadsheets [custom formula](https://medium.com/@the.benhawy/how-to-use-google-spreadsheets-to-check-for-broken-links-1bb0b35c8525), some links need to be fixed:

- Axelerant
Correct URL: https://www.axelerant.com/careers

- Webikon
Correct URL: https://webikon.eu/ (But I can't see any Jobs page there)

[2019-02-13 12:35] dougaitken commented on #528
Cheers Guga, I'll take a look some point to clean them up. I think we've had a link checker in the past but it isn't run regularly.

[2019-02-14 18:21] nylen commented on #528
Thanks Guga! Pull requests are definitely welcome to fix any broken links.

Checking for broken links automatically is surprisingly difficult, mostly because it is unreliable.  More information from the first time a contributor tried it:  https://github.com/remoteintech/remote-jobs/pull/372#issuecomment-350569070

[2019-02-15 14:53] dougaitken commented on #528
Ah, I knew we'd done something like this before! Maybe I should just set a reminder to do it manually on my local copy like one every few months haha.

[2019-02-24 04:41] nylen commented on #518
Added in #532.

[2019-02-24 04:41] #518 closed

[2019-03-05 15:19] dougaitken opened #541 "Move off Travis CI"
There is a lot in the tech news about Travis being bought.

Thoughts on moving to a new CI @nylen. Is it "easy" (comparatively) and something I can do as a weekend project?

[2019-03-08 03:06] nylen commented on #541
Our CI configuration is simple (run `npm run validate && npm test`) so this shouldn't be too hard.

I wouldn't worry about this until / unless we start having problems with Travis though.

[2019-03-31 17:11] IEnoobong opened #548 "link to careers or job page instead"
Will be great if links go to the company's careers or jobs page instead.

What do you think?

[2019-04-06 04:17] nylen commented on #548
Hi @IEnoobong, we want to keep our "company profile" pages so that we can present information about each company in a standardized way.

On each "company profile" page, if the profile is complete, there should be a "How to apply" section which links to the careers or jobs page, if any.  For example, on https://remoteintech.company/appstractor/:

![2019-04-05T23 15 49-05 00](https://user-images.git

[2019-04-11 02:21] nylen commented on #485
For the Hashicorp example above, and for others, it could work reasonably well to do a hybrid approach:

- Encourage specifying a well-structured list of countries as we have discussed here.  This can be a standard Markdown list.
- **Also allow free-form text below this list**.  This is the part that's new, and it would allow explaining any special cases, timezone requirements, etc.

This way we c

[2019-04-14 10:21] dougaitken commented on #485
I thought the "example regions" which were in the Over submission might work well -https://github.com/remoteintech/remote-jobs/pull/549#pullrequestreview-225173210

Then there could be one shown, but for search, it could search the other regions?

[2019-04-15 01:21] nylen commented on #485
Yeah, that works.  Those regions came from our [example profile](https://github.com/remoteintech/remote-jobs/blob/master/company-profiles/example.md) which is based on the previous discussion on this issue.

Let's get the data in place first, then we can figure out the details of how the search works.

[2019-04-16 06:49] nylen commented on #461
This was done some time ago.

[2019-04-16 06:49] #461 closed

[2019-05-24 09:50] DavidNgugi opened #569 "Add Category for filtering"
We need a `Categories` field to help in filtering.

Example Marketing, Retail, Manufacturing, Education etc.

[2019-05-25 16:37] nylen commented on #569
In order to make this work we need a plan for how to get this filled in for the almost-400 companies that are already on the list, and we need a way to keep the data organized at the beginning and going forward.

[2019-06-03 18:30] c0b commented on #569
:+1: for this need;   because so far it's just a list of -400 companies, not so helpful, if someone want to look for a job in tech company, based on his skills (JavaScript, ), and the area he wants to do (Education, or Fintech, ), this list of ~400 will be a large list for the person to click each one by one,

this list of existing -400 companies isn't a huge list, just need some crowd effort, let

[2019-06-03 20:07] DavidNgugi commented on #569
@c0b and @nylen . I'll work on a PR and then guys can start contributing. I'll get some time on Wednesday and do this

[2019-06-06 14:03] dougaitken commented on #569
I'm wondering if we could expand the searchbox to search content of each profile. Or is that not possible @nylen ?

[2019-06-07 09:37] teoseller opened #575 "Add cabify company to the list"
please add this company that allow remote job https://cabify.com/es/jobs

thank a lot

[2019-06-26 04:36] nylen commented on #569
Anything is possible, and I agree searching the whole profile would go a long way towards satisfying this request, but it would also need some significant re-working of the search function. Maybe best to move that suggestion to a separate issue?

[2019-06-28 11:36] dougaitken opened #584 "Expand the Search scope to all of the profile rather than name and region"
Related to #569

Currently, when someone wants to search the list, they are limited to name and region. Having the ability to search the whole profile would allow for filtering by technology or another keyword.

[2019-07-10 16:31] whatacold commented on #584
Just being curious, where can we search these data from? It takes a lot of time for me to see every company's websites :(.

[2019-07-26 01:14] nanunh opened #596 "Note: I've added a link to this url to my linked in article..."
Great repo - I've added a link in my linked in article...

https://www.linkedin.com/pulse/story-software-explorers-nanu-swamy/

[2019-07-30 16:40] #596 closed

[2019-07-30 16:41] dougaitken commented on #596
Thanks @nanunh, I really appreciate that. If you want to link to the site you can here - https://remoteintech.company/

[2019-08-09 03:05] l3lackcurtains opened #602 "Citrusbyte and Theorem are same company."
They have recently changed their company name.

https://theorem.co/ceo-message

[2019-09-25 10:27] dougaitken opened #616 "Add cloudapp"
Add Cloudapp to the main repository via #607 and https://github.com/j-create/remote-jobs/commit/7d9882793b56d3fa1d0f4bde3dbc87b6451a62bd

[2019-10-04 12:05] RadValentin opened #619 "Website is down"
Website is not loading for me, checked with https://down.com/ and https://www.uptrends.com/tools/uptime, they both confirm that it's down.

![Screenshot 2019-10-04 at 14 03 59](https://user-images.githubusercontent.com/3300066/66206261-de9ce400-e6af-11e9-8cb9-ee601b2ceb28.png)

cc: @nylen

[2019-10-04 20:52] nylen commented on #619
Not sure what happened, but it's back up now. @dougaitken did anything change recently with the domain or hosting?

[2019-10-04 20:52] #619 closed

[2019-10-07 19:42] kcneov opened #623 "Add Xapo"
Xapo is a fully distributed, financial technology company with more than 250 team members across more than 50 countries worldwide. https://xapo.com/

[2019-10-07 23:35] dougaitken commented on #619
Hmm, could be that I renewed the domain a day late?

[2019-10-07 23:38] dougaitken opened #624 "Add Evrone"
Fixes #622 & #621

cc @RickNln

[2019-10-09 16:08] SoldierCorp commented on #623
Hi, can I take this one?

[2019-10-11 15:47] SoldierCorp commented on #623
Is this still available?

[2019-10-11 19:26] kcneov commented on #623
yes, please add it!

[2019-10-11 20:03] SoldierCorp commented on #623
Cool, please assign it to me.

[2019-10-11 20:24] kcneov commented on #623
Oops, sorry it's already in progress.

[2019-10-11 20:26] SoldierCorp commented on #623
No problem, thank you anyway!

[2019-10-14 02:54] MagnaibayarMN commented on #623
@kcneov Sir, could you please review my pull request ? #630

[2019-10-14 13:03] RickNln commented on #624
Done. Thanks!

[2019-10-14 18:29] nylen commented on #624
Done in #635.

[2019-10-14 18:29] #624 closed

[2019-10-15 03:48] spencer1573 commented on #616
I'd like to take this one.

[2019-10-15 05:03] martinwheeler commented on #616
Hey @dougaitken, I'll put my hand up for this. I'll re-use the details added in brackets via #607.

[2019-10-15 07:19] AmanDeep9925 commented on #367
@dougaitken is someone currently working on this issue?
I would like to take this up.

[2019-10-15 10:29] martinwheeler commented on #616
I just realised that Cloudapp has already been added in #609 😅 maybe this should be closed @dougaitken?

[2019-10-15 18:22] nylen commented on #367
No need to ask first, just take a look at the list of existing PRs. In this case no one has submitted anything so you are welcome to give it a try.

[2019-10-15 18:23] nylen commented on #616
Yes indeed, sorry for the confusion.

[2019-10-15 18:23] #616 closed

[2019-10-15 18:31] nylen opened #639 "Fill in missing information for existing companies"
This repository is getting a lot of activity for Hacktoberfest which is great to see!

One thing we need help with is **filling in missing information for existing companies**.  This needs to be done one by one for each company by looking at their website.

This is a good first task, and if you submit 4 PRs for one company each, then you've already met the requirements for Hacktoberfest!

Here's h

[2019-10-15 19:04] vincentdoerig commented on #639
Hello, I can work on [Docker](https://remoteintech.company/docker/) and [Filament Group](https://remoteintech.company/filament-group/).

[2019-10-15 19:30] vincentdoerig commented on #639
After some research I found that Filament Group does not have a job listing nor do they seek new employees. Should I create a PR removing the company or should I add it anyways?

[2019-10-15 20:07] nylen commented on #639
Hi @vincentdoerig, no need to remove the company I think. It's still a good idea to have a bit of info about what they do, and if they'd like to be removed they can come and ask for that themselves.

You can just say something about what you found in the PR: "No job openings are listed on their website, but there is a contact email" etc.

[2019-10-16 16:45] garrowp commented on #639
I can do Mozilla and Khan Academy

[2019-10-18 07:23] rahuldkjain commented on #639
@nylen Please review the PR https://github.com/remoteintech/remote-jobs/pull/651

[2019-10-18 15:18] edelstone commented on #602
This issue can be closed.

[2019-10-18 15:49] #602 closed

[2019-10-19 14:38] arieljimenez commented on #639
@nylen, when you have time, take a look at PR #655

[2019-10-20 14:55] kamilamin commented on #575
Can i do this ?

[2019-10-21 07:04] #390 closed

[2019-10-22 20:45] dimiantoni opened #673 "Add Bairesdev"
Please add Bairesdev, it's a company that's present in USA and South American with a lot remote positions to developers and software professionals

https://www.bairesdev.com/

[2019-10-25 11:31] dougaitken commented on #575
Closed in #669

[2019-10-25 11:31] #575 closed

[2019-10-25 13:35] dougaitken commented on #623
Hi @SoldierCorp @kcneov there are still many companies needing a full Company Profile added per #639

@MagnaibayarMN Please do reply on #630 - thanks

[2019-10-30 08:07] hanapotski commented on #673
Hi! Can I take this issue? 😄

[2019-10-30 08:09] hanapotski commented on #673
nvm, it's already added 😅

[2019-10-30 10:43] dougaitken commented on #673
Closed in #683

[2019-10-30 10:43] #673 closed

[2019-10-31 03:23] abc516 commented on #309
Hi @dougaitken , I'd be open to taking this issue.

[2019-11-04 19:33] dougaitken commented on #309
This was sorted in #692 but please do review and help with any others @abc516

[2019-11-04 19:33] #309 closed

[2019-11-04 19:37] #623 closed

[2020-01-16 13:12] SarkariNaukri365 opened #715 "Get sarkari naukri on whatsapp"
Activate sarkari naukri alert
Click here[Join Now](http://sarkarinaukri365.com)

[2020-02-04 22:51] waveiro opened #723 "Remove 45royale"
As per this [blog post]( https://45royale.com//blog/goodnight-45royale/ ) and their [official web page](https://45royale.com/) they have officially closed the company.

Therefore it should be removed from the list.

[2020-02-07 13:36] noobyogi0010 commented on #584
Hey @dougaitken !
I would like to work on this by adding additional filtering in search. Can you please tell me how to get started with contributing?
Thanks.

[2020-02-08 20:21] dougaitken commented on #584
Hey @noobyogi0010 - @nylen is best to confirm but I'm unsure how this should be done. Currently it is a search/filter happening here - https://github.com/remoteintech/remote-jobs/blob/master/site/assets/companies-table.js

For context, this list is compiled into a static site that lives on Netlify.

[2020-02-08 20:30] #723 closed

[2020-02-08 20:30] dougaitken commented on #723
Thanks for the heads up @waveiro, I've resolved this in #725

[2020-02-09 21:19] rezen opened #727 "Differentiate between HasRemote vs RemoteFirst"
Closing as completed - remote policy differentiation is now implemented in the Eleventy v3 site rebuild.

The site uses standardized remote policy values defined in `src/_data/companyHelpers.js`:
- `fully-remote` - Fully Remote
- `remote-first` - Remote First
- `remote-friendly` - Remote Friendly
- `hybrid` - Hybrid

Company profiles specify their remote policy in frontmatter, enabling users to fi

[2020-02-10 14:37] dougaitken commented on #727
Hi @rezen

100%. I completely see what you're talking about here and I've heard the horror stories.

This is a nice-to-have but something maybe to do this year. We're at ~450 entries now so that may take some time to go through.

Any suggestions for how this would be formatted/included?

[2020-02-10 18:35] rezen commented on #727
I think for starters appending the column and just have a question mark that people can back fill.  This will help ensure with new PRs people will have that filled out.

[2020-02-13 05:54] Tejaswgupta commented on #639
Does it need any more assignees?
I would be happy to help

[2020-02-17 20:10] lsanchezvv opened #728 "Adds codepen.io website for applying for jobs"
These are the only options to apply for codepen.io listed

On their website, they have a jobs section where you can find the listings for job openings.
https://codepen.io/jobs/

[2020-02-17 20:13] #728 closed

[2020-02-17 20:14] lsanchezvv commented on #728
Realized that the jobs posted on that section of the website are not really to work for codepen.

[2020-02-23 02:01] nylen commented on #727
Retroactively organizing and improving data quality is hard in a project like this. Probably the best place to put this new piece of information is under the "Remote status" field in the profile for each company, we should be looking to remove columns from the main readme rather than adding more.

We can adapt our validator script to only recognize specific values like "Fully remote", "Remote firs

[2020-02-23 02:11] nylen commented on #584
Hi @noobyogi0010, you can see the documentation for how the site is currently built here: https://github.com/remoteintech/remote-jobs/tree/master/site

In order to solve this issue, you'll need to make the data (text) from the rest of the company profile available to the search function on the main page. This is the `companies-table.js` code that Doug mentioned.

I'm not sure the best way to make

[2020-03-02 09:28] Atomx3 opened #734 "Data Science Brigade URL changed"
Data Science Brigade
https://dsbrigade.com/

[2020-04-21 09:09] dougaitken commented on #734
Closed in #753

[2020-04-21 09:09] #734 closed

[2020-04-22 04:49] kennyaires commented on #569
Hi guys, I felt the need to filter the companies by its technology using a webscrapping written in python. You can check my project on https://github.com/kennyaires/webscrapping-remote-jobs/

Thanks for everyone contributing for this project.

[2020-05-02 19:11] Sonu1978102 opened #761 "Remote"

[2020-05-04 03:55] nylen commented on #761
@Sonu1978102 can you explain a bit more?

[2020-05-04 23:24] danielramosbh74 opened #764 "It's a hard job to find a job... So..."
I just I'd like to share **an idea or suggestion** here...

Maybe you, @ksahin, or someonelse can find the idea good and can colaborate to improve it, **merging it on this project** or not...

See more details here:
https://danielramosbh74.github.io/easy-like-this/

Thanks

[2020-05-05 22:52] nylen commented on #764
Hi @danielramosbh74, usually the hardest part of making a new service like this is making sure that companies (who would hire contractors) know about it. What's your plan for this?

[2020-05-06 06:42] #462 closed

[2020-05-06 06:42] #584 closed

[2020-05-06 12:14] danielramosbh74 commented on #764
Hi @nylen, yes... I agree with you...

Unfotunately I don't have a plan yet... but we could make it together if you want. One idea is to search for litle companies or better, investors, sponsors, here at Github to increase this project step by step, including creating this first version of the master plan.

I'm not a good vendor... and it's as harder to sell ideas than material things... but, this

[2020-05-07 03:32] nylen commented on #569
Hi @kennyaires, our main site https://remoteintech.company/ now has a similar search feature, implemented in PR #763.

[2020-05-19 05:24] #761 closed

[2020-05-19 05:40] nylen commented on #764
I like the idea, but I think you should focus on promoting your service to companies first, so that you have some available jobs.

I think helping with that promotion directly is a bit outside of the goal of this project, we are just providing an index of companies which hire remotely.

[2020-06-17 09:41] myFree opened #771 "NOT AN ISSUE!!!"
Just wanted to say thanks for creating and maintaining this list; its a fantastic resource!!! Much appreciated.

No issue :) Feel free to close

[2020-06-17 10:41] dougaitken commented on #771
You’re welcome @myFree - we’re you able to change job due to a company you found on the list?
I really appreciate any feedback and positive comments like this are wonderful.

cc @nylen

[2020-06-17 10:43] #771 closed

[2020-06-17 10:46] myFree commented on #771
Not quite a happy ending just yet; but I'm only up to `e`s on the list; and finding a lot of interesting companies along the way. So it has been very -very useful

[2020-06-18 22:57] oliviaklohr opened #772 "Major List Update"
Hey all -

I was working on compiling my own remote-first / remote-available tech company list when I stumbled across yours. After comparing the two, I have around ~160 companies on my list that aren't on yours (and you have way more that I don't, haha).

I was going to start work on compiling a PR in your format for the companies I have - which will take some time as your format is more in-depth

[2020-06-23 20:39] nylen commented on #772
Hey @oliviaklohr, contributions of this type are very welcome. Thank you!

[2020-06-23 20:43] oliviaklohr commented on #772
Absolutely! I'll hop on it and hopefully have it up in the near future. 😊

[2020-06-24 09:52] brh commented on #772
@oliviaklohr could you possibly just dump your list somewhere like in a gist or pastebin for people to view before the merge, please???

Thank you

[2020-06-24 13:36] oliviaklohr commented on #772
@brh yep! here's [a gist](https://gist.github.com/oliviaklohr/cb610c14ffc7f04336a622c7e7e16ec6) with just company names and a majority of the links to their sites. I've been working on compiling the list for a while, but I still need to go back through and double-check that these companies are still either remote-first or remote-allowing, not just doing it temporarily because of COVID, but I think

[2020-07-18 06:25] nylen opened #781 "Fixing Travis"
@dougaitken it looks like Travis stopped running a couple of weeks ago, not really sure exactly why but it might be related to travis-ci.org switching over to travis-ci.com. This didn't really break anything too badly but you should have an email to add access to Travis so that PRs can have green checkmarks again.

[2020-07-19 20:45] nylen commented on #781
looks like I touched something and it started working again.. not really sure what happened there but ok.

Doug if you see the email from Travis come in it's probably still a good idea to accept that so we can get it fully set up.

[2020-07-28 18:05] #764 closed

[2020-08-01 02:40] goleedev opened #788 "Fixing region of 1Password"
It looks like 1Password only has remote jobs within the US or Canada not worldwide

[2020-08-19 12:01] dougaitken commented on #781
Yes, shits broken.

I keep forgetting I have a different primary email on this. I just approved Travis but it looks like a different app than this one? https://github.com/marketplace/travis-ci/

[2020-08-19 12:27] raja-baz opened #792 "Black Tangent seems to no longer exist"
Black Tangent is listed but all of the links in the document are broken and even searching for the company seems to only turn up things that no longer exist.

[2020-09-14 19:47] nylen commented on #788
Would probably be good to check with the person who originally wrote that there are people in Europe and New Zealand - I think they were a 1password employee.

[2020-10-15 14:35] dopecodez commented on #792
I checked the same, and looks like the issue is right. Black tangent does not seem to exist at all.

Raised a PR for housekeeping.

[2020-10-16 13:38] strawberries73 commented on #639
Hello, I am new, can I work on this issue?

[2020-10-16 22:45] AnhPham199 opened #820 "H"

[2020-10-17 01:27] joquendo commented on #639
Hello, I am working on General Assembly. I will submit a PR when ready.

[2020-10-17 02:01] Nyette commented on #639
Is Cards Against Humanity still available? I'd like to work on that one.

[2020-10-17 07:13] wdy00877 opened #825 "i j"
在hyou
#xia i g bu b b b b b`ini uu uu`ii ij ii`````` 在看不惯的时候xia nv

[2020-10-17 18:56] temple300 opened #832 "."

[2020-10-17 19:48] #832 closed

[2020-10-17 19:50] #820 closed

[2020-10-17 19:50] #825 closed

[2020-10-17 20:03] Nyette commented on #639
Working on Help Scout and Honeybadger.

[2020-10-17 20:04] pelmini commented on #639
Hello, I will work on fournova voxmedia.

[2020-10-17 20:40] dougaitken commented on #639
When working on an update or new addition, please add one per PR, thanks!

[2020-10-18 08:47] NainGalvan commented on #639
Hi I would like to work on BlackPixel but they have been acquired by HyperGiant so I will post about HyperGiant instead.

[2020-10-18 16:44] Nyette commented on #639
Haiku Learning is now going by the name, PowerSchool. I will submit a PR, reflecting these changes.

[2020-10-18 17:50] lostnco1 commented on #639
Ok thanks for letting me know

On Sun, Oct 18, 2020, 11:44 AM Antoinette Lee <notifications@github.com>
wrote:

[2020-10-18 21:39] Angelinavagapova opened #851 "Master"

[2020-10-19 08:00] kirisnakumar opened #857 "9661792568Kalyani Saree customer care number//9661792568"
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 08:00] kirisnakumar commented on #857
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 08:01] kirisnakumar commented on #857
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 08:01] kirisnakumar commented on #857
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 08:21] lostnco1 opened #858 "String. Of a mess"
Sorry  I  didn't realize that I had created such a mess

[2020-10-19 08:23] lostnco1 commented on #858
What can I do to contribute to my mistake and also find out how it all happened

[2020-10-19 13:35] lostnco1 opened #863 "A#"
Hey guys hmu

[2020-10-19 13:37] lostnco1 opened #864 "A#"
Looking for someone to contribute with on a easy first issue to get the hang of this

[2020-10-19 16:14] #863 closed

[2020-10-19 16:50] lostnco1 commented on #639
@nylen  can I help you out so I can understand the process of creating an issue

[2020-10-19 17:38] #851 closed

[2020-10-19 18:35] dougaitken commented on #858
Hey @lostnco1  - it looks like you might have subscribed to all updates so this is why you end up commenting on "random" Issues and Pull Requests. I'm not sure how this is happening.

Are you looking for help on how to contribute to this list for Hacktoberfest?

[2020-10-19 18:35] #864 closed

[2020-10-19 18:36] dougaitken commented on #792
Fixed in #810

[2020-10-19 18:36] #792 closed

[2020-10-19 19:52] Asinkhan opened #879 "Toogud customer care number//9661792568"
Toogud customer care number//9661792568

[2020-10-19 19:52] Asinkhan opened #880 "Toogud customer care number//☎9661792568"
Toogud customer care number//9661792568

[2020-10-19 19:53] Asinkhan commented on #880
Toogud customer care number//9661792568

[2020-10-19 19:53] Asinkhan commented on #880
Toogud customer care number//9661792568

[2020-10-19 19:53] Asinkhan commented on #880
Toogud customer care number//9661792568

[2020-10-19 19:53] Asinkhan commented on #880
Toogud customer care number//9661792568

[2020-10-19 19:53] Asinkhan commented on #880
Toogud customer care number//9661792568

[2020-10-19 19:55] dougaitken commented on #858
@lostnco1 Let's keep the conversation here - you are commenting on different Issues so make sure you're in the right conversation rather than mentioning people in different pull requests

[2020-10-19 19:58] #879 closed

[2020-10-19 19:59] dougaitken commented on #880
Hi @Asinkhan - do you have context for this please?

[2020-10-19 20:01] lostnco1 commented on #858
@dougaitken Well just to contribute in general im usallay on android when trying to do anything here, I am trying to fix what I need to after pguess i sent out all of this from my computer but i just want to make sure that im entering things in the correct place before sending anything out

[2020-10-19 20:02] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:02] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:02] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:02] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:03] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:03] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:03] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:03] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:03] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:03] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:04] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:04] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:04] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:04] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:04] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:04] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:04] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:04] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:04] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:04] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:04] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:04] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:05] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:05] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:05] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:05] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:05] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:05] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:05] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:05] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:05] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:05] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:05] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:05] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:06] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:06] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:06] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:06] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:06] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:06] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:06] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:06] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:06] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:06] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:06] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:07] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:07] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:07] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:07] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:07] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:07] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:07] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:07] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:07] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:07] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:07] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:07] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:07] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:08] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:08] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:08] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:08] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:08] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:08] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:08] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:08] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:08] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:08] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:08] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:09] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:09] Asinkhan commented on #880
Toogud customer care number//☎9661792568

[2020-10-19 20:10] Asinkhan opened #881 "Toogud customer care number//☎9661792568"
Toogud customer care number//☎9661792568

[2020-10-19 20:10] Asinkhan commented on #881
Toogud customer care number//☎9661792568

[2020-10-19 20:10] #880 closed

[2020-10-19 20:11] Asinkhan opened #882 "Toogud customer care number//☎9661792568"
Toogud customer care number//☎9661792568

[2020-10-19 20:11] Asinkhan commented on #882
Toogud customer care number//☎9661792568

[2020-10-19 20:12] #881 closed

[2020-10-19 20:14] #882 closed

[2020-10-19 20:16] lostnco1 commented on #858
@dougaitken  Yea Im using windows now and can see it much better, do you know how i would use a open source license for verifying the volume license for microsoft access

[2020-10-19 20:21] dougaitken commented on #858
Different "license" terminology. This has nothing related to Microsoft Access or anything.

More details of coding licenses can be found here - https://choosealicense.com/

[2020-10-19 20:21] lostnco1 commented on #863
@dougaitken  what can i do to merge my profile

[2020-10-19 20:23] dougaitken commented on #863
There isn't anything to merge here - which company are you adding to the list?

[2020-10-19 21:23] lostnco1 commented on #858
@dougaitken  ok I see what your saying

[2020-10-20 01:52] Aurora-Rong opened #888 "0"

[2020-10-20 01:53] Aurora-Rong commented on #888
https://github.com/lyhue1991/eat_tensorflow2_in_30_days

[2020-10-20 01:55] Aurora-Rong commented on #888
https://github.com/lyhue1991/eat_tensorflow2_in_30_days

[2020-10-20 02:14] ksharma20 opened #889 "Adding a New Remote Job Company"
Im totally new to github so, I have no prior knowledge about how it works.
But after I saw About the Great Work of this remote-jobs. I thought I should to Publish What I know.

Recently I came Across a Company Named [Uhuru](https://uhurunetwork.com/careers/)

Company Name : Uhuru
Official Website : https://uhurunetwork.com/careers/
Region : Austin, Worldwide.

And I was Impressed By there Tagline

[2020-10-20 02:19] ksharma20 commented on #889
Sould I send a Pull Request Or what Now ??

[2020-10-20 03:02] lostnco1 opened #891 "README.mdhttps://www.github.com/remoteintech/remote-jobs/tree/master/CODE_OF_CONDUCT.md. A# locks, Columbus, Ga Let's try this again,"
https://www.github.com/remoteintech/remote-jobs/tree/master/CONTRIBUTING.md

[2020-10-20 03:09] lostnco1 commented on #889
Yes

On Mon, Oct 19, 2020, 9:19 PM keshav Sharma <notifications@github.com>
wrote:

[2020-10-20 03:19] lostnco1 opened #893 "Ok I believe it's in order, if not how should I combine profile read me and issue from android"
https://github.com/remoteintech/remote-jobs/issues/891

[2020-10-20 03:21] lostnco1 commented on #893
@dougaitken  hey man thanks for your time with this I'm just having trouble with combing it all together

[2020-10-20 05:05] #891 closed

[2020-10-20 05:43] dougaitken commented on #893
I'm afraid not @lostnco1; this is a new Issue.

I'd recommend doing this from a laptop or desktop computer rather than mobile browser until you're comfortable with it.

* Head to the main code page and fork the repository - https://github.com/remoteintech/remote-jobs
* This creates a copy of the code on your GitHub profile
* If you want to add a new company profile, then copy the content into a ne

[2020-10-20 05:43] #888 closed

[2020-10-20 05:46] #523 closed

[2020-10-20 08:50] antinoni commented on #639
Hello! I would like to help out with the info for Koding

[2020-10-20 09:00] antinoni commented on #639
Hello, I wanted to help out with Koding but couldn't get sufficient info, so I will help with Mozilla instead.

[2020-10-20 15:24] nok888 opened #914 "14qM9h3GPJKaR88ZUbZLHsP8Z8cdHGvU52 41c8ef726c14ba1c644ebc42f0411a1b66e75851126673c79f85f6508357f23a"

[2020-10-20 15:27] #914 closed

[2020-10-20 15:47] ksharma20 commented on #889
And How to Do it
Can Brief  me out with it

[2020-10-20 16:19] dougaitken commented on #889
Hey @ksharma20 - hopefully my reply here helps out!

https://github.com/remoteintech/remote-jobs/issues/893#issuecomment-712605840

[2020-10-20 16:20] #858 closed

[2020-10-20 16:21] #368 closed

[2020-10-20 17:34] zaheer16 opened #918 "Hacking"
![IMG-20201020-WA0043.jpg](https://user-images.githubusercontent.com/73191281/96623208-73f33080-1324-11eb-9fcf-84002dfc76f8.jpg)

[2020-10-20 18:27] ZInAye19 commented on #639
Hello, I'd like to work on BuySellAds.

[2020-10-20 19:20] dougaitken commented on #639
Hey @ZInAye19 - can you look for another company or two further down the list, I think they is another PR open for that one.

[2020-10-20 19:30] #918 closed

[2020-10-20 20:00] fernandakawasaki commented on #639
Hi I would like to work on Enjoei.

[2020-10-20 23:23] fernandakawasaki commented on #639
I'd like to work on Focusnetworks, too

[2020-10-21 02:17] ksharma20 commented on #889
Thanku @dougaitken

[2020-10-21 02:57] ksharma20 commented on #893
@dougaitken Hey Bro, I Done the 4 steps as u mentioned earlier but Even after creating a file in company-profiles folder
Im not able to see it there
i find no find which I have created
so, where I am going wrong ???

[2020-10-21 03:13] ksharma20 commented on #893
Hi @ksharma20, thanks for your contribution!
Our automated checks detected some problems with this pull request (as of commit 8590a8b). See below for details:

Uhuru-Networks.md: Expected 1 first-level heading but found 0
Uhuru-Networks.md: The main title is wrapped inside of another element.
Uhuru-Networks.md: Company name looks wrong: ""
Uhuru-Networks.md: Required section "Company blurb" not fo

[2020-10-21 14:35] ngutierrez31 commented on #639
I'd like to work on Marketade and Open Craft!

[2020-10-21 21:35] lostnco1 commented on #893
@dougaitken

[2020-10-21 21:39] lostnco1 commented on #893
@ksharma20 yes its also bugging me out, I've forked my profile and remotes, but I need to add the contributing guidelines with it but I'm unsure if I'm doing it correctly.  Also do I need to remove the warning signs that are shown?

[2020-10-21 23:00] dougaitken commented on #893
I'll try and record a screencast or a full walkthrough tomorrow to help @lostnco1 @ksharma20

[2020-10-22 05:09] ksharma20 commented on #893
We will be waiting for it Sir Do it soon @dougaitken
And Lets crack it together @lostnco1 👍🏻

[2020-10-22 08:47] antinoni commented on #639
Hello! I'm working on Test Double, Scrapinghub and Vox Media!

[2020-10-22 15:32] danishirfannn commented on #639
Hi! I'd like to work on Compose!

[2020-10-22 15:37] dougaitken commented on #639
Hey @danishirfannn - need to pick another - that already has about 3 PRs I need to sort out. Can you either pick one from the Issues list of start half way down the list, please?

[2020-10-22 15:44] danishirfannn commented on #639
@dougaitken Hi. Sure thing. Can I work on Fire Engine Red?

[2020-10-22 15:57] Reddead23460 opened #962 "Sould I send a Pull Request Or what Now ??"
Sould I send a Pull Request Or what Now ??

_Originally posted by @ksharma20 in https://github.com/remoteintech/remote-jobs/issues/889#issuecomment-712545374_

[2020-10-22 16:24] dougaitken commented on #962
Hi @Reddead23460 I don't understand what you're asking here

[2020-10-23 15:51] christyram99 commented on #525
Hi @dougaitken , I would like to work on this issue.

[2020-10-23 16:00] dougaitken commented on #525
Thanks for offering @christyram99, I'm excited to see what you do.

[2020-10-23 16:19] danishirfannn commented on #639
Scopic Software is missing Office Location info. Can I add that?

[2020-10-23 16:21] danishirfannn commented on #639
I am new to open source. Kindly tell me if I have to be assigned an issue before making a pull request?

[2020-10-23 16:53] christyram99 commented on #525
@dougaitken , As of my understanding, we need to open all external links on a new page and an icon to indicate the link is external.

[2020-10-23 17:03] dougaitken commented on #525
Yes, that is the general idea @christyram99

[2020-10-23 19:39] dougaitken commented on #639
You can create a PR without an linked issue @danishirfannn

Please feel free to add whatever is needed - one company per pull request please.

[2020-10-23 23:31] lostnco1 commented on #893
@ksharma20 hey I'm sorry lol i was waiting for a response on a comment that i just realized wasn't sent, anyway did you get your problem with this straight? I haven't had a chance to get back on it until now

[2020-10-24 00:08] danishirfannn commented on #639
@dougaitken Thank you!

[2020-10-24 08:09] christyram99 commented on #525
Hi @dougaitken ,

Most of the URLs in our repo are external URLs. I am attaching a sample image of how our site will look like if we add an icon after every external link

![image](https://user-images.githubusercontent.com/25861056/97072557-113cb600-15fe-11eb-9a7b-29a5f61d8824.png)

[2020-10-24 15:12] christyram99 commented on #525
#999

Hi @dougaitken , I added the pull request. Please check it once.

[2020-10-25 12:58] maxerbox commented on #639
#1006 is related to hacktoberfest

[2020-10-25 21:00] Giyan17 commented on #639
Hello I can work on [UpTrending](https://remoteintech.company/uptrending/)

[2020-10-26 01:00] ksharma20 commented on #893
Daaam True Bro @lostnco1 I am Still Finding It too And I guess Until Someone tells us the Right Path We won't Br able to Do it.
I am Just Waiting for someone to Show me How these Things are Done
And If you Get any Clue in near future then Please atleast You Convey it to Me

[2020-10-26 01:16] lostnco1 commented on #893
@ksharma20 yea I am waiting also, I am pretty sure I know how to set it up now but I don't want to do anything that may create a mess. I also need to team up with someone for a project I would like to create.  Do you have much experience in programming?

[2020-10-26 02:16] JiriJAdam commented on #639
Hello! Can I work on this?

[2020-10-26 09:39] christyram99 opened #1023 "Missed mailto work in mail sending links and https protocol missing in url of company profiles"
I came to know that few company profiles are having spelling mistakes while I am checking the internal and external links.

Few of them are are

```mailto``` missing files

https://github.com/remoteintech/remote-jobs/blob/2daf8a473801a7b5be31b4b040485e45bce3e250/company-profiles/consumer-financial-protection-bureau.md#L15

https://github.com/remoteintech/remote-jobs/blob/2daf8a473801a7b5be31b4b040

[2020-10-26 09:43] christyram99 commented on #1023
#1024 , Hi I have added the pull request for this issue. Please check it once.

[2020-10-26 09:45] christyram99 commented on #525
Hi @dougaitken , I added #1024 pull request for update missing mailto word in links and spelling mistakes of https protol in urls.

[2020-10-26 14:41] marychew97 commented on #639
Hi, I would like to work on Salesforce :)

[2020-10-26 14:44] Giyan17 commented on #639
@dougaitken can you review #1028

[2020-10-26 16:14] ksharma20 commented on #893
@lostnco1 Yup I have a Little Experience In programming and Can try to pull off the work/Project That U are Talking About
Just Get me Details (Dm me Lets COnnect)
Instagram : [anonymouskabir](https://instagram.com/anonymouskabir/)

[2020-10-28 15:01] Caitlin-Fotheringham commented on #639
I have submitted a PR for Particular Software (to try and avoid duplicates)

[2020-10-28 21:11] ZInAye19 commented on #639
Hey, I'd like to work on IPS group and LicolnLoop

[2020-10-29 14:35] Maclain272 opened #1058 "Self Balancing Robot"
it 's this remote can work with self balancing robot without bluetooth?

[2020-10-29 22:38] #962 closed

[2020-10-29 22:39] dougaitken commented on #1058
I don't understand what you're asking @Maclain272

[2020-10-29 22:39] #1023 closed

[2020-10-29 22:55] Maclain272 commented on #1058
Okay ! I am trying to control arduino uno  in my pc for self balancing robot without bluetooth, do you have any idea?

[2020-10-30 03:11] christyram99 opened #1069 "Invalid extra or symbol in animalz and spelling mistakes in few other files is stopping the application to run"
I am trying to run the master branch but I am getting the following errors.

[code]

[2020-10-30 03:12] christyram99 commented on #1069
This issue is because of spelling mistakes and an extra or symbol Readme.md.

[2020-10-30 07:14] dougaitken commented on #1058
Wrong place for that type of question @Maclain272 - this is remote as in the "remote from an office" and not "remote control".

[2020-10-30 07:14] #1058 closed

[2020-10-30 08:25] christyram99 commented on #1069
Hi @dougaitken ,  I am not sure about what we should do regarding below case no website case. Can we remove the HUSL Digital site or do you have any suggestions?

https://github.com/remoteintech/remote-jobs/blob/a54798b26fef9c46aa1f44312bd61039252c6a96/README.md#L244

[2020-10-30 08:34] dougaitken commented on #1069
I've got an open PR that adds a URL

[2020-10-30 08:38] christyram99 commented on #1069
Ok, Then no issues. Please close this card.

[2020-10-30 08:41] #1069 closed

[2020-10-30 11:14] christyram99 commented on #525
Hi @dougaitken , I think we can close this card.

[2020-10-30 12:11] marychew97 commented on #639
Hi again, I would like to work on LivingSocial, Keen IO and Safari Books Online :)

[2020-10-30 14:33] #889 closed

[2020-10-30 14:54] dougaitken commented on #525
Resolved via #1024

[2020-10-30 14:54] #525 closed

[2020-10-30 14:55] dougaitken commented on #639
No need to comment here when working on a PR but please make sure there are no open PRs for the company you're editing/adding.

[2020-11-01 21:01] Khan666666 opened #1116 "Remote"

[2020-11-01 21:09] #70 closed

[2020-11-20 19:52] gianpaj opened #1123 "[website] Add or fix fuzzy search"
https://remoteintech.company/

Searching by `strip`:
![image](https://user-images.githubusercontent.com/899175/99843627-c618b300-2b69-11eb-88fa-8b671af47e03.png)

Searching by `stripe`:
![image](https://user-images.githubusercontent.com/899175/99843642-cca72a80-2b69-11eb-9b77-741bbf353fb8.png)

[2020-11-22 17:18] nok888 opened #1124 "package main import ( "log" "golang.org/x/mobile/app" "golang.org/x/mobile/event/lifecycle" "golang.org/x/mobile/event/paint" ) func main() { app.Main(func(a app.App) { for e := range a.Events() { switch e := a.Filter(e).(type) { case lifecycle.Event: // ... case paint.Event: log.Print("Call OpenGL here.") a.Publish() } } }) } An event is represented by the empty interface type PublishResult struct { // BackBufferPreserved is whether the contents of the back buffer was // preserved. If false, the contents are undefined. BackBufferPreserved bool }"
https://www.github.com/ligi/Etheremote/tree/master/.gitignore
type PublishResult struct { // BackBufferPreserved is whether the contents of the back buffer was // preserved. If false, the contents are undefined. BackBufferPreserved bool }

[2020-11-27 15:45] #1124 closed

[2020-12-08 10:56] dougaitken commented on #541
:sigh: I guess this is important now

https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing

[2020-12-08 10:58] #1116 closed

[2020-12-15 11:47] desireetori opened #1137 "Remote-Jobs: Software Engineer (Solo candidatos basados en México/varias vacantes) - Python, Java, AWS, Node, React"
Me encuentro en búsqueda de 5 Software Engineer con experiencia en las siguientes tecnologías:

1) Vacante 1: Python, AWS, AWS Lambda

2) Vacante 2: Java, Javascript, AWS, AWS JavaSDK, AWS CloudFormation, Groovy, SQL, NOSQL, API building from Infra

3) Vacante 3: Java, Springboot, AWS

4) Vacante 4: Java, Springboot, Git, Jenkins, Artifactory, Gradle

5) Vacante 5: Javascript. Node, React, HTML5,

[2020-12-22 07:55] #541 closed

[2020-12-22 08:03] #1137 closed

[2021-01-01 12:12] codingknite opened #1139 "Add Quora"
![quora](https://user-images.githubusercontent.com/70036189/103438373-b057dc80-4c43-11eb-98d0-0878bf91bec8.png)

Quora announced that starting June 2020 it would be a remote-first company which can also be found on their official website.
Does this qualify it for the list? If so, may I create a pull request for it?

[2021-01-04 11:57] kevindavee opened #1141 "Part Time jobs"
Hi,

I found that this is a helpful Github repo. Thanks!
Wondering if you can add some remote part-time roles as well to this repo?

[2021-01-13 17:30] pedrohyvo commented on #528
@dougaitken you can use this npm package to verify markdown broken links (https://github.com/tcort/markdown-link-check) and maybe you can config on github actions

[2021-02-07 14:35] dougaitken commented on #1139
Hi @codingknite

Absolutely, please do open a new PR.

Thanks!

[2021-02-07 14:59] dougaitken commented on #1141
Hey @kevindavee

The job of this is that we link to companies, not jobs, so if a company hires for specific roles as Part-Time, this would be handle away from the list. There is no requirement for role time commitment for any company to be included here.

As for listing "part-time" as a filter, this list is static and job opening as often fluid, so that type of filter isn't currently part of the f

[2021-02-07 14:59] #1141 closed

[2021-02-07 17:09] codingknite commented on #1139
Cool @dougaitken Right away!

[2021-02-14 15:37] dougaitken opened #1152 "Better analytics"
I want to add some form of analytics to the site, not Google Analytics as that is too much.

I used Netlify but for $9 is it not worth it. Althogh the data available is really all I need ([more info in the docs](https://docs.netlify.com/monitor-sites/analytics/#charts)), more than 30 days would help. As this whole project is essentially run by myself, paying ~$100 a year for not useful for that.

[2021-02-14 15:38] dougaitken opened #1153 "robots.txt"
The most popular 404 on the front-end site, before I disabled Netlify analytics, is `robots.txt`.

I don't know for sure how to add a custom page and this may be part of a larger front-end redesign, but anything to help here would be good.

[2021-02-14 15:39] dougaitken commented on #781
Travis is no longer used, we moved to GitHub Actions in #1132

[2021-02-14 15:39] #781 closed

[2021-02-22 08:40] yeimiisagui commented on #781
El dom., 14 de febrero de 2021 7:40 a. m., Doug Aitken <
notifications@github.com> escribió:

[2021-03-17 17:47] breese77 opened #1160 "adding to remote jobs listing for companies"
How am I able to add our company to your list of 100% remote companies hiring?

Bryan
Breese@virbea.com

[2021-03-27 23:45] aevaldas commented on #1160
Hi, @breese77, here's the information how to do that: https://github.com/remoteintech/remote-jobs/blob/master/CONTRIBUTING.md

[2021-05-27 13:22] #1139 closed

[2021-08-05 15:02] dougaitken opened #1206 "Submit new PRs from closed"
I updated the main branch to `main`, I then deleted `master` and GitHub just closed 12 PRs 🙃

- [ ] https://github.com/remoteintech/remote-jobs/pull/1138
- [ ] https://github.com/remoteintech/remote-jobs/pull/1157
- [ ] https://github.com/remoteintech/remote-jobs/pull/1158
- [ ] https://github.com/remoteintech/remote-jobs/pull/1159
- [ ] https://github.com/remoteintech/remote-jobs/pull/1168
- [ ]

[2021-08-08 20:52] YuriSalgado commented on #1153
_I'm new at this and my english is soo bad but would like to give cents._

404 custom page are added in ".htaccess" in the root directory of server.

In him, we need add line:
ErrorDocument 404 /not-found-page.html (im like 404.html)

[2021-08-08 21:44] dougaitken commented on #1153
Hey @YuriSalgado thanks for offering some help here!

The site is generated by a Static site builder and runs on Netlify so an 'htacces' file won't work here.

BUT, I'd love for you to help make a contribution if you want?

I think this might help us - https://docs.netlify.com/routing/redirects/redirect-options/#custom-404-page-handling

Let me know if you like to have a try getting this working.

[2021-08-27 10:18] Sergih28 opened #1214 "README Typo"
The word **request** in [README.md](https://github.com/remoteintech/remote-jobs/blob/main/README.md) is mistyped as **reqest**

[2021-09-25 10:27] #1214 closed

[2021-09-30 16:29] sharechiwai opened #1219 "Typo on README.md"
![image](https://user-images.githubusercontent.com/843624/135494628-2c322235-7ab6-407d-b367-9f9ebef02c53.png)
`Contributions are very welcome! Please submit a pull reqest on GitHub.` should be
Contributions are very welcome! Please submit a pull request on GitHub.

[2021-09-30 16:45] sharechiwai opened #1221 "Findify jobs link is incorrect"
Current link for Findify jobs
from https://remoteintech.company/findify/
is point to
https://findify.io/careers
However, the correct URL for findify careers is
https://careers.findify.io/

[2021-10-01 16:41] vishal5251 commented on #1153
I am Interested in this one. But I'm not clear can you explain it more. Thank you!

[2021-10-03 06:14] Sockalingam29 commented on #1206
When clicking the "Edit this page on GitHub" button on the company pages, it redirects to the master branch (which is non-existent) instead of the main branch. But in the code, the URL is generated for the main branch.

[2021-10-03 13:58] dougaitken commented on #1206
Thanks @Sockalingam29 I need to fix a few things for the deploy to Netlify as it broke some time ago. I'll sort it early this week.

[2021-10-03 14:00] dougaitken opened #1233 "Need help with Hacktoberfest?"
If you need help with Hacktoberfest, comment here and I'll walk you through contributing.

[2021-10-03 14:25] sharechiwai commented on #1233
@dougaitken , Yes, I need help with Hacktoberfest, could you walk me through please?

[2021-10-03 14:40] ANUSHRAVGARG commented on #1233
@dougaitken ,Yes ,I need help with Hacktoberfest,could you walk me through this with contribution please??

[2021-10-04 20:44] titanve opened #1242 "Access right to create a new PR in order to add a new company"
Hello,

How can I get the access right in order to create a PR to add a new company?

Thanks.

[2021-10-04 20:59] onepiece123fes commented on #1242
What this i don't understand can you help me to find a job please

Le lun. 4 oct. 2021 à 21:45, Rafael Mora ***@***.***> a
écrit :

[2021-10-04 21:26] #1242 closed

[2021-10-04 21:27] titanve commented on #1242
Followed these steps and could create the PR:
https://stackoverflow.com/a/22129144/4008161

[2021-10-05 06:44] ANUSHRAVGARG opened #1245 "HOW front-end works?"
describe the topic to as much as you know about

[2021-10-05 09:05] #1219 closed

[2021-10-05 11:30] chhavi18387 commented on #1233
Hey @dougaitken, I would like to contribute. Please walk me through the process.

[2021-10-07 09:17] Jyoti-prakash-rout commented on #1233
I need help with Hacktoberfest? please help me?

[2021-10-07 09:48] agaramudhala commented on #1233
Please walk me through the process @dougaitken

[2021-10-08 11:31] Joykareko opened #1252 "Adding a filter section"
Can we add a filter section to the list, so we can easily filter by #worldwide or #USA or whichever instead of scrolling down to the full list?

[2021-10-08 21:45] billyhall27 opened #1258 "Trying to add a company and getting permission denied"
I'm working to add our company Zip.Co to this list.  When I try to push and create a new remote branch, I'm getting permission denied.

Do I need to be added to the contributors ?

[2021-10-10 14:08] pavinduLakshan commented on #1258
You first need to fork this repo. Then do the changes in the forked repo and make a pull request to this repo.

[2021-10-11 16:38] #1258 closed

[2021-10-14 07:51] 007tom commented on #1152
[Segment](https://segment.com)

[2021-10-19 16:29] dougaitken commented on #639
Hi @Dahbaeraychy sorry for the delay, I've had a few things on personally. I see you have closed your Pull Requests - is there any reason for that?

[2021-10-23 00:28] rylim commented on #1153
Thanks @dougaitken! Could you clarify more on the requirements for the robots.txt page?

[2021-10-24 01:28] GabrielModog commented on #1252
I like to implement that

[2021-10-25 00:28] rylim commented on #1153
@dougaitken Got it, I can look into adding the `robots.txt` to the site. In the meantime, I submitted another PR to templatize the 404 page and make it look better and have a link to thee homepage. 👆🏼

[2021-10-29 21:50] abdelrazek-alaa commented on #1233
yes, I'd like to contribute to your project.

[2021-10-30 01:10] GabrielModog commented on #1252
I don't know if a get it what you trying to say...

So I was thinking rewrite the current filter code to make reusable as possible to maybe add others filters in the future.

For now I thought to make a radio button to switch the type of filter (by company or country). When I made some test by adding a new input don't look so nice. So to me the solution is a radio button to switch the type of filt

[2021-10-30 18:06] dougaitken commented on #1233
Apologies, this month hasn't been the best.

Anyone who wants to contribute, please follow this guide:

- Fork this repository to your own GitHub account
- Make changes either on GitHub.com or clone the repository and make the changes locally
- Commit the changes
- Open a pull request (if you have saved the changes to your repository, then GitHub.com should ask if you want to do this).

As long as

[2021-10-31 12:31] dougaitken commented on #1252
@GabrielModog Can you open a PR with what you have? It'll generate a preview URL so I can take a look.

This is a tricky scenario so I appreciate any ideas people have 😀

[2021-10-31 13:43] #1160 closed

[2021-12-18 11:44] stt106 commented on #1152
Sorry but what site do you mean? Is this deployed somewhere outside GitHub?

[2022-01-18 23:15] pelintang commented on #1152
Hallo all ,

[2022-01-27 10:27] carperez opened #1340 "Add freelancermap.com to companies"

[2022-02-01 20:20] garethjmsaunders opened #1341 "Add Safeguard Global to The List"
I have just started working remotely for Safeguard Global who are almost 100% remote.

I gleaned the 'Company technologies' information from their current developer vacancies. I'm also not entirely sure how many employees they have or across how many countries.

# Safeguard Global

https://www.safeguardglobal.com/
Worldwide

# Company blurb
Since 2008, Safeguard Global has helped hundreds of organ

[2022-02-02 01:54] Cearl03 opened #1342 "l o c a l e : s t r i n g"

[2022-02-05 19:19] dougaitken commented on #1152
Yes @stt106 the site is built on GitHub but then deployed to Netlify.

Fathom has been good in this short term so I'm going to close this out for now.

[2022-02-05 19:19] #1152 closed

[2022-02-05 19:32] dougaitken commented on #1340
Hi @carperez if you think a company should be added, please provide more details for why. I don't see any details about this website to explain who they are and why it should be added.

[2022-02-05 19:35] dougaitken commented on #1341
Hello!

Great information and this would be a good addition.

Would you like to make a Pull Request for this yourself? I can help out if needed.

[2022-02-05 19:35] dougaitken commented on #1342
@Cearl03 Can you elaborate?

[2022-02-07 07:03] carperez commented on #1340
Hi @dougaitken, this is a job board where remote projects are published by different clients all over the world

[2022-02-07 17:47] garethjmsaunders commented on #1341
Hey @dougaitken!

To be honest, I'd rather not have to do this—I've got a ton of other stuff going on just now. I really can't prioritise this just now. Sorry.

[2022-02-07 17:57] dougaitken commented on #1341
Not a problem at all @garethjmsaunders, thank you for opening the Issue, I'll get it added soon!

[2022-02-07 22:43] dougaitken commented on #1340
Hi @carperez, this doesn't fit the details for my list. The list is specifically companies that hire remotely, not job boards and such. Thanks.

[2022-02-07 22:44] #1340 closed

[2022-05-24 09:13] kb-s commented on #1245
**front-end ensure that website visitors can easily interact with the page**.

## How ?

let's take an example of github we can see many options in our github front-end page like notification icon, github icon and our profile these all are work of front-end developer, **they are responsible for designing the UI of a mobile app or website**.

[2022-06-12 11:23] dougaitken commented on #1252
@kb-s Thanks for the comment, your solution is intended for a spreadsheet, that isn't how the data is stored here.

[2022-06-12 11:40] #1342 closed

[2022-06-13 04:35] kb-s commented on #1252
@dougaitken Thanks for the response.

[2022-06-23 06:33] WAQAS1214 opened #1377 "Need Medior Full Stack BI Developer at ImpactBuying"
As a Full Stack BI Developer you are part of a motivated team which is responsible for helping IB internal and external clients get insights about sustainability in supply chains based on the data that IB works with
ImpactBuying (IB), is a dynamic company with a mission. We want to provide our clients with data they can trust, report and act on. We are a B-Corporation, specialized in risk manageme

[2022-06-23 22:38] #1377 closed

[2022-08-04 12:05] WAQAS1214 opened #1389 "Java Developer Job"
Rate:$82 hour
• Requirements
o Excellent development, coding and scripting skills ie Python, Ruby, Java, JavaScript, PHP, Bash Shell, and Node.js
o Expert knowledge of REST+JSON, web services, SQL and Swagger
o Experienced in BAU security automation strategies
o Demonstrated creative, critical and independent thinking capabilities and troubleshooting skills
o Strong Communication and Collaboration

[2022-08-04 13:41] dougaitken commented on #1389
Hi @WAQAS1214

This isn't appropriate for this repository - it isn't an advertising space for specific positions.

[2022-08-04 13:42] #1389 closed

[2022-08-04 14:01] WAQAS1214 commented on #1389
Thanks

On Thu, Aug 4, 2022 at 6:42 AM Doug Aitken ***@***.***> wrote:

[2022-09-24 15:56] IAmTamal opened #1424 "Add Issue Templates 🛠"
## What i am suggesting to add ?

I am suggesting to add **Issue Templates** to the repository, it can be as many categories as needed - primary categories of issues are mostly : `bugs`, `docs`, `general feature` and so on.

## Why to add it ?

Adding an issue Template allows you to organize the issues made by folks in a much better way.
 - We can know if someone wants to add a site.
 - We can kno

[2022-09-25 00:01] dougaitken commented on #1424
Hey @IAmTamal sounds good.

Almost all the contributions to this repository are PRs rather than Issues but it might help clearing that up. I have been meaning to rework contributions for some time so this would be a welcome change.

[2022-09-25 06:35] IAmTamal commented on #1424
@dougaitken , okay i'll work on the issue templates then !

- Just tell me what are the type of templates you'd want ?  example : bugs and so on. ..
- The PR template was last updated 14 months ago, i'd be happy if you need any change in that.

[2022-09-27 10:36] #1233 closed

[2022-09-27 16:17] ANUSHRAVGARG commented on #1233
I really like and thanks for connecting me,i will definitely need your
support and i will give my best this time

On Sat, Oct 30, 2021, 23:36 Doug Aitken ***@***.***> wrote:

[2022-09-28 08:02] Cephas12 opened #1426 "Job opportunities"
Where can I work remotely with JavaScript knowledge.

[2022-09-28 10:18] dougaitken commented on #1426
Hi @Cephas12 - you can use the search bar near the top to search for companies that use JavaScript on the main site - https://remoteintech.company

This repository lists companies but isn't yet set up to facilitate job searches.

[2022-09-28 10:18] #1426 closed

[2022-09-28 16:04] anselmbradford opened #1427 "Add non-profit column?"
Hey, what do you think about adding a column with (Y)/(N) for non-profit status to the listing? Working for a non-profit is important to those with student loans in the US because of https://studentaid.gov/manage-loans/forgiveness-cancellation/public-service#qualifying-employer, so it would be nice to see at a glance which orgs are for-profit, and which are non-profit.

[2022-09-28 16:09] dougaitken commented on #1427
Interesting concept but not something for this board. Some profiles mention nonprofit I think but this would require a refactor of the company profile. Adding a future maybe for this

[2022-09-28 16:10] #1427 closed

[2022-10-02 06:15] RAJEEV2510 opened #1434 "Add virtual Scorlling to the long list or add pagination options to the list."

[2022-10-02 10:31] KieranRobson commented on #788
With the merge of https://github.com/remoteintech/remote-jobs/commit/209a1fa6e35086dee267b42d459afbf3cc3abdf2, Id say this issue could be closed!

[2022-10-02 10:35] dougaitken commented on #1434
I, unsure how pagination would help as it would increase load times for the viewer, and hijacking scroll isn’t good UX.

added to future maybe though.

[2022-10-02 10:36] #1434 closed

[2022-10-02 10:38] dougaitken commented on #788
Their [jobs page](https://jobs.lever.co/1password) includes a single job for Netherlands but I’m happy with the current setup. Thanks for the housekeeping @KieranRobson

[2022-10-02 10:38] #788 closed

[2022-10-02 18:44] dougaitken commented on #1424
@IAmTamal I'll take the Issues template, I'm going to set it up from the repository settings.

If you're looking to contribute, can I ask you to review tue current PR template and open a discussion for changes there, please?

I'd like it to be more dynamic and ensure contributors are consciously filling it in related to their changes. For example, many people just tick all the boxes on the list wh

[2022-10-04 16:59] RAJEEV2510 commented on #1434
Try Virtual Scrolling its Better options if you do not want add pagination add atleast

[2022-10-04 18:03] AnkurJain-developer opened #1455 "Big wheel brigade have ceased there operations in 2017."
We can remove them from the list as they are no longer operational.

[2022-10-04 18:15] FCdeguigui opened #1456 "测试"
dHJvamFuOi8vOTM0OWEzZjAtOTY5Ni00NzI4LWIzMGQtOTNlODhlNDY5NDRmQGhrMi4xODg3OGEyNC00OWQ4LTRmYjItYTFlMy1mMzdkY2U3Y2YyYTguNzE4YmUzN2UtODA0Zi00Njk2LTk2OGUtOTQ4NDMwYTkwMDI5LmIxYTBhMDk1LTgyNWEtNGFiNi04ZjlhLTZjYzljYjE3MWRkMi55aXl1YW4uY3lvdTo0NDM/c2VjdXJpdHk9dGxzJmhlYWRlclR5cGU9bm9uZSZ0eXBlPXRjcCZzbmk9MTMtMjUxLTEyOC0xODgubmhvc3QuMDBjZG4uY29tIyVGMCU5RiU4NyVBRCVGMCU5RiU4NyVCMCVFOSVBNiU5OSVFNiVCOCVBRiswMislN0Mr

[2022-10-04 18:23] #1456 closed

[2022-10-05 04:12] buttsons-mart opened #1459 "www.buttsonsmart.com"
Affilate marketing

[2022-10-05 04:13] Hanee-Solanki commented on #772
Hi,

I was hoping to contribute to this and this is my first time doing an open source project. Please advise if I could use the same gist or if there have been any changes to it.

Thank you very much!

[2022-10-06 10:52] GWillS163 opened #1473 "Are there any companies that do not require English"

[2022-10-06 12:11] adi-uchiha commented on #344
can i work on this ?

[2022-10-06 22:31] pedaars commented on #639
Hi, @dougaitken. Are you accepting new companies the company I work for is remote first but missing from your list ?

[2022-10-06 22:33] dougaitken commented on #639
Absolutely @pedaars, please do open a Pull Request with a new entry.

[2022-10-06 22:35] dougaitken commented on #639
I'm going to close this off for now. I'll add details for contributions to either the Wiki or expand on the contributing file.

[2022-10-06 22:35] #639 closed

[2022-10-06 23:15] dougaitken commented on #1434
@RAJEEV2510 Can you help me understand this "virtual scrolling" with an example, please?

[2022-10-06 23:15] dougaitken commented on #1455
Thanks @AnkurJain-developer, feel free to open a PR to remove.

[2022-10-06 23:21] dougaitken commented on #772
Hi @Hanee-Solanki theres been no changes since the last comment so I believe you can use that list as a basis. Thanks.

[2022-10-06 23:48] dougaitken commented on #344
I had wanted to leave this off since it starts the conversation about which services to include and which to exclude.

If you're interested then please open a PR for consideration.

[2022-10-06 23:56] RAJEEV2510 commented on #1434
@dougaitken Virtual Scrolling Reduce the number the nodes of Ui which will be helpful For consuming less memory.

[2022-10-07 10:59] xstable commented on #1459
There is no Page available at this address. Might be scam, as the user named in same way?!

[2022-10-07 20:55] Madaraxxuchiha opened #1485 "https://www.moviezmagicc.site/"
https://www.moviezmagicc.site/

[2022-10-07 22:05] JulienMellon opened #1487 "Simple.com, the bank does not exist anymore...."
Simple.com is now defunct.

https://www.theverge.com/2021/5/9/22427811/simple-bbva-transition-errors-bank-shutdown

here is the listing in question

https://github.com/remoteintech/remote-jobs/blob/main/company-profiles/simple.md

[2022-10-07 22:12] Martinsngene commented on #1487
Hello @JulienMellon, please can I work on this issue?
A little more description of the task will help me complete it swiftly.

[2022-10-07 22:56] dougaitken commented on #1434
I've read up about this, sounds intriguing. If someone wants to have a go at integrating this, I'd be interested.

[2022-10-07 23:24] mnosov622 commented on #1485
Hello!

What's this issue about ?

[2022-10-07 23:28] mnosov622 commented on #1123
Hello @gianpaj !

I would love to work on this issue. Could you please assign it to me ?

[2022-10-08 00:16] #1459 closed

[2022-10-08 00:18] dougaitken commented on #1473
Hey @GWillS163 This isn't something that is defined in the company profiles so I couldn't say offhand. I know there are a few companies that hire in specific countries so that might be an option to search by country here - https://remoteintech.company

[2022-10-08 00:18] #1473 closed

[2022-10-08 00:21] dougaitken commented on #464
I think the search on https://remoteintech.company is enough for now until another overhaul happens. I'm closing this one for now.

[2022-10-08 00:21] #464 closed

[2022-10-08 00:25] dougaitken commented on #1487
Closed via #1488

[2022-10-08 00:25] #1487 closed

[2022-10-08 00:26] dougaitken commented on #1485
Nope. Don't like that. First warning @Madaraxxuchiha.

[2022-10-08 00:26] #1485 closed

[2022-10-09 04:06] odin4513 opened #1499 "Gf"

[2022-10-09 13:56] ZawadiSumba66 commented on #482
Hey, @nylen  is this already an issue? I would like to contribute

[2022-10-09 21:49] dougaitken commented on #1123
@mnosov622 I am the only maintainer of this project. If you want to work on something, submit a Pull Request.

[2022-10-09 22:23] dougaitken commented on #482
@ZawadiSumba66 nylen isn't involved anymore, it's just me.

If you'd like to contribute, then please open a Pull Request with your thoughts, or elaborate here.

Important - I would like to move towards another system such as Jekyll so the current technical setup isn't set in stone.

[2022-10-09 23:28] thepioneercoder opened #1501 "Need help willing to pay for mentorship or guidance"
Hi im an insurance agent as my main career and just started learning code to create a software program to help me simplify my sales process. I'm trying to create an extension program that can overlay on top of the dialer program I use to talk to clients. While also have a voice recognization program that can identify keywords that can dictate the level of intent  to buy or if there just shopping o

[2022-10-10 00:29] owengaspard commented on #482
Hey, I would love to work on this!

[2022-10-10 02:16] mnosov622 commented on #1123
Hi @dougaitken !

Yes, but can I ask you to assign this issue to me, please ?

[2022-10-10 11:26] KieranRobson commented on #1499
https://github.com/odin4513 This is a bot account, made to spam issues

Rather than keeping these around @dougaitken I recommend closing them as they will just keep coming 😆

[2022-10-10 11:28] dougaitken commented on #1499
Thanks @KieranRobson thought I'd closed this one.

[2022-10-10 11:28] #1499 closed

[2022-10-10 13:51] OthmandCEO opened #1506 "Job"

[2022-10-10 15:50] mnosov622 commented on #1123
Thank you !

[2022-10-10 23:11] shoyonmia opened #1508 "Dhoyon"

[2022-10-11 02:51] ifmycodecouldtalk commented on #1245
Fundamentally, when we are talking about the web, there is the client and the server. The front-end is what the client sees on the browser when an HTTP request is sent to a web server. The front-end includes the UI/UX design of a website, the browser that the client is using, and front-end frameworks like React and Angular.

[2022-10-11 04:29] karteljnr commented on #1245
Exactly

[2022-10-11 20:25] shoyonmia opened #1515 "Pan dhqrq sici"

[2022-10-11 23:49] #1515 closed

[2022-10-11 23:51] #1508 closed

[2022-10-12 08:56] dougaitken commented on #1506
@OthmandCEO Can you elaborate?

[2022-10-12 13:46] dougaitken commented on #1501
Hey @thepioneercoder, good luck to you furthering your career!

This repository isn't to see out job help or support like this, but I applaud your eagerness.

As here won't be the best place for you to get support for this, I'm not sure where best to direct you.

Maybe posting on Stackoveflow or searching online for similar programs or code?

[2022-10-12 13:46] #1501 closed

[2022-10-12 13:50] dougaitken commented on #1123
@mnosov622 As a note - I'm wanting to move towards Jekyll or something for the site, so the search functionality may change.

[2022-10-12 13:51] #1245 closed

[2022-10-12 13:51] dougaitken commented on #1245
I'm closing this as won't fix purely because this is starting to go off topic.

[2022-10-12 15:36] mnosov622 commented on #1123
Hi @dougaitken !

Then, I don't need to fix it for now, or I can do another search functionality ?

[2022-10-12 16:45] dougaitken commented on #1123
If you have something in mind, then please don't stop, I don't have a timeline for redoing the backend of the site but I wanted to set expectations.

[2022-10-12 19:16] mnosov622 commented on #1123
Sure!

I will come up with solution.

[2022-10-13 19:33] KieranRobson commented on #1506
Based on their [history](https://github.com/OthmandCEO) and their other [issue](https://github.com/termius/termius-cli/issues/193), I don't think they will elaborate, and this could be closed 😆

[2022-10-13 21:58] #1506 closed

[2022-10-14 15:52] PureGeekNerd opened #1527 "can we reorder Region based on Alphabetic order :)"

[2022-10-14 22:18] mikelopez-theoremone opened #1529 "Update company Theorem to TheoremOne"
Hi there, I work for Theorem (now TheoremOne) and was looking to update our company profile copy and links to reflect our new name/URL.

[2022-10-14 22:32] #1529 closed

[2022-10-15 00:57] auchynnikau commented on #1527
Seems like no, because alphabetic order is already applied for the Name column.

[2022-10-15 07:31] dougaitken commented on #1527
A filtering option might be added in the future but for now there is the search bar.

[2022-10-15 07:32] #1527 closed

[2022-10-15 21:28] ArCiGo opened #1540 "Sort the companies by Continent/Country"
It will be more easy to find a job, in a specific country, if the companies are sorted by continent and country.

This is my suggestion.-

**Europe**

[code]

[code]

**Americas**

[code]

[code]

[2022-10-16 15:27] dougaitken commented on #1540
Related possibly fix #1252 & a related answer in #1527

This list, from the start, has been company in alphabetical order. If someone wants to find all countries in US, then they can search Worldwide or US.

#485 has a very in-depth discussion about this.

In short, I'm not entirely against it since people want to know companies where they physically can work but I think grouping by region goes ag

[2022-10-16 15:30] dougaitken commented on #1540
I'm on holiday right now, when I'm back I think this needs to move to Discussions rather than Issues now.

[2022-10-16 15:32] ArCiGo commented on #1540
For a better search, it is better to have the companies sorted by company or region, instead of looking through the list of all the companies.

For someone who wants to work remotely for, specifically, a company in Europe, it's better to find grouped companies by that continent, and then by countries.

[2022-10-16 15:37] dougaitken commented on #1540
@ArCiGo Do you think Worldwide should be it's own section?

If a company is in more than one area, should it be duplicated? This list might end up being pretty long.

Standardising needs to happen first before anything else.

[2022-10-16 15:39] dougaitken commented on #1540
Long term I think a filter similar to Remote OK would work.

[2022-10-16 15:56] ArCiGo commented on #1540
A filter will be a great idea

[2022-10-18 01:35] rylim commented on #528
Hi @dougaitken I just ran the [markdown-link-check](https://github.com/tcort/markdown-link-check) on the current copy of the site and there are a LOT of broken links 🙂 , going to submit some PRs on it

[2022-10-19 05:05] rylim commented on #528
@dougaitken The first PR is Ready for Review.

[2022-10-21 19:48] #1455 closed

[2022-10-21 20:22] #528 closed

[2022-10-21 23:02] dougaitken commented on #1424
Thanks for your offer here @IAmTamal

I'm going to close this off and add the basics via the Community Standards - 69975d1

[2022-10-21 23:02] #1424 closed

[2022-10-23 20:37] Jaya-sys commented on #727
Hey can you assign this issue to me

[2022-10-23 20:38] Jaya-sys commented on #482
Hey i would like to work on this issue can you please assign this issue to me?

[2022-10-24 18:26] dougaitken commented on #482
@Jaya-sys Thanks for your interest. Being honest, I'm not assigning this specific Issue to anyone. It will remain open and unassigned until a full contribution is merged which answers this main topic.

If you'd like to contribute, please review this Issue in full and open a Pull Request with your ideas and contributions.

[2022-10-24 18:28] dougaitken commented on #727
Same reply as https://github.com/remoteintech/remote-jobs/issues/482#issuecomment-1289422019 @Jaya-sys

Thanks.

[2022-10-28 11:58] ArshErgon opened #1574 "Unhandled promises while starting up the project local"
Error:
[code]
`https://s0.wp.com/wp-includes/css/dist/block-library/classic.min.css?ver=1` this URL doesn't exit on web

[2022-10-29 22:57] dougaitken commented on #1574
@ArshErgon Can you try again please?

[2022-10-30 08:03] ArshErgon commented on #1574
Wow, it works. Thanks!

[2022-10-30 08:03] #1574 closed

[2022-10-30 16:57] dougaitken commented on #1574
I did nothing which is odd, because newer PRs were working but looks like it's broken again.

I don't know enough about the site to handle this myself so I'll need to fix it properly soon.

[2022-10-30 22:25] #1341 closed

[2022-10-31 03:34] ArshErgon commented on #1574
@dougaitken I think the site sleeps for some time, when it sleeps the request shows 404. Similar like heroku free dynos
[code]

[2022-10-31 13:16] dougaitken commented on #1574
it's not though @ArshErgon  - that URL is WordPress.com, it never sleeps. Also the ones before it in the log show as expected.

[2022-10-31 13:51] ArshErgon commented on #1574
Well, in this file https://github.com/remoteintech/remote-jobs/blob/08561b7370307a00818fd2f786273e09ad9e1601/bin/build-site.js at line `58` @nylen has mentioned this issue (https://github.com/nodejs/node/issues/17871) I think it's a node issue, or when fetching the URL `https://s0.wp.com/wp-includes/css/dist/block-library/classic.min.css?ver=1` the code brokes.

[2022-11-01 18:48] calvinomiguel opened #1590 "Add RemoteScout to the list"
Add [remotescout.ch](https://remotescout.ch) to the list, which is focused on remote and hybrid jobs in Germany, Switzerland and Austria.

[2022-11-03 10:40] dougaitken commented on #1590
As @KieranRobson mentioned @calvinomiguel - this list is for companies that hire directly rather than anything "remote job" related. Thanks for the consideration though.

[2022-11-03 10:40] #1590 closed

[2022-11-16 19:45] MariaBeah opened #1597 "Data Architect - SnowFlake 100% remote Full-time position"
WEX is the place that provides exciting opportunities to make a difference because of our familial culture, entrepreneurial spirit, and ambitious attitude. I am currently looking for a Data Architect - SnowFlake  Who brings grit, tenacity, and passion to all that they do. Who looks at every opportunity to improve, invent and innovate a better way forward. Who is a caring collaborator who embraces

[2022-11-17 21:07] #1597 closed

[2022-11-17 21:08] dougaitken commented on #1597
Hi @MariaBeah this repository isn't for posting job openings. Pleas see the main readme file for details.

[2022-11-18 21:40] MariaBeah commented on #1597
Hi Dougaitken, thank you for letting me know. Is there a specific way to post jobs on Github?

[2022-11-25 07:40] YuFengDing opened #1598 "is it possible to add simple categories to these companies"
With growth of the list, it's difficult to pick up the suitable company quickly by just presenting the name and official website of the company in order.

is it possible to add simple categories,e.g.  industries,scale, financing status, established time
[Discussions > New > Ideas](https://github.com/remoteintech/remote-jobs/discussions/new?category=ideas)

[2022-11-25 23:51] dougaitken commented on #1597
GitHub.com as a whole isn't a job board, it helps organise and collaborate on code. Specific job boards might be useful to investigate but I'm afraid I don't know many; `https://remoteok.com` is one I know of, along with standard sites like Indeed